<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.CdnTopNServiceMapper">

    <select id="cdnTopNServiceCompanyTotal" resultType="java.lang.Long">
        select count(1) from (
            select domain_name as domainName,company_short_name as companyShortName,
            sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveParam"/>
                <include refid="selectiveTopNParam"/>
                <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
            </where>
            group by domain_name,company_short_name
        )
    </select>

    <select id="cdnTopNServiceCompanyList" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select domain_name as domainName,company_short_name as companyShortName,
        sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <include refid="selectiveTopNParam"/>
            <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
        </where>
        group by domain_name,company_short_name
        order by parseTotalCnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="cdnTopNServiceCompanySumData" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <include refid="selectiveTopNParam"/>
            <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
        </where>
    </select>

    <select id="cdnTopNServiceDomainTotal" resultType="java.lang.Long">
        select count(1) from (
            select domain_name as domainName,company_short_name as companyShortName,domain_name_main as serviceDomainName,
            sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveParam"/>
                <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
            </where>
            group by domain_name,company_short_name,serviceDomainName
        )
    </select>

    <select id="cdnTopNServiceDomainList" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select domain_name as domainName,company_short_name as companyShortName,domain_name_main as serviceDomainName,
        sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
        </where>
        group by domain_name,company_short_name,serviceDomainName
        order by parseTotalCnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="cdnTopNServiceDomainSumData" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <if test="queryParam.domainName !=null and queryParam.domainName !=''">and domain_name_main = #{queryParam.domainName}</if>
        </where>
    </select>

    <select id="cdnBusinessTopNServiceCompanyTotal" resultType="java.lang.Long">
        select count(1) from (
            select business,company_short_name as companyShortName,
            sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveParam"/>
                <include refid="selectiveTopNParam"/>
                <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
            </where>
            group by business,company_short_name
        )
    </select>

    <select id="cdnBusinessTopNServiceCompanyList" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select business,company_short_name as companyShortName,
        sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <include refid="selectiveTopNParam"/>
            <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
        </where>
        group by business,company_short_name
        order by parseTotalCnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="cdnBusinessTopNServiceCompanySumData" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <include refid="selectiveTopNParam"/>
            <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
        </where>
    </select>

    <select id="cdnusinessTopNServiceDomainTotal" resultType="java.lang.Long">
        select count(1) from (
            select business,company_short_name as companyShortName,domain_name_main as serviceDomainName,
            sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveParam"/>
                <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
            </where>
            group by business,company_short_name,serviceDomainName
        )
    </select>

    <select id="cdnusinessTopNServiceDomainList" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select business,company_short_name as companyShortName,domain_name_main as serviceDomainName,
        sum(parse_total_cnt) as parseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
        </where>
        group by business,company_short_name,domain_name_main
        order by parseTotalCnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="cdnusinessTopNServiceDomainSumData" resultType="com.yamu.data.sample.service.resources.entity.po.TopNServiceData">
        select sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <if test="queryParam.business !=null and queryParam.business !=''">and business = #{queryParam.business}</if>
        </where>
    </select>

    <sql id="selectiveParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
        <if test="queryParam.userType !=null and queryParam.userType !=''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.qtype !=null and queryParam.qtype !=''">and qtype = #{queryParam.qtype}</if>
        <if test="queryParam.resourceType !=null and queryParam.resourceType !=''">and resource_type = #{queryParam.resourceType}</if>
        <if test="queryParam.resourceRange !=null and queryParam.resourceRange !=''">and resource_range = #{queryParam.resourceRange}</if>
    </sql>

    <sql id="selectiveTopNParam">
        <if test="queryParam.rankNumberCompany != null and queryParam.rankNumberCompany != ''">
            and company_short_name global in (
                select company_short_name from (
                select company_short_name,sum(parse_total_cnt) as parse_total_cnt
                from ${queryTable}
                <where> 1=1
                    <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
                    <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
                    <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
                    <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
                    <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
                    <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
                    <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
                    <if test="queryParam.userType !=null and queryParam.userType !=''">and user_type = #{queryParam.userType}</if>
                    <if test="queryParam.qtype !=null and queryParam.qtype !=''">and qtype = #{queryParam.qtype}</if>
                </where>
                group by company_short_name
                order by parse_total_cnt desc
                limit #{queryParam.rankNumberCompany})
            )
        </if>
    </sql>
</mapper>
