<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.DomainCNameRelationMapMapper">

    <!--查询: 域名关系维表-->
    <select id="countFind" resultType="java.lang.Long">
        select count(domain_name) from
            (select
            parse_time,
            lower(domain_name) as domain_name,
            lower(cname) as cname,
            company_short_name,website_app_name,
            sum(parse_total_cnt) as parse_total_cnt,
            a_record,
            aaaa_record
            from ${param.queryTable}
            <where>
                <include refid="selectByQueryTime"/>
                <if test="param.rankNumber != null">
                    and domain_name in (
                        select
                        lower(domain_name) as domain_name
                        from ${param.queryTable}
                        <where>
                            <include refid="selectByQueryTime"/>
                        </where>
                        group by domain_name
                        order by sum(parse_total_cnt) desc
                        limit ${param.rankNumber} )
                </if>
            </where>
            group by parse_time, domain_name, cname, a_record, aaaa_record,company_short_name,website_app_name
            order by parse_time desc, parse_total_cnt desc) t1

        left join

            (select
                lower(domain_name) as domain_name,
                lower(cname) as cname
            from
                ${param.queryTable}
            <where>
                <if test="param.lstQueryTime != null and param.lstQueryTime !=''">and parse_time =
                    #{param.lstQueryTime}
                </if>
            </where>
            group by domain_name, cname) t2
        on t1.domain_name = t2.domain_name
    </select>

    <select id="find" resultType="com.yamu.data.sample.service.resources.entity.po.DomainCNameRelationMap">
        select parse_time, domain_name, cname, parse_total_cnt , a_record, aaaa_record, if((cname==t2.cname), '否','是') as change from
            (select
            parse_time,
            lower(domain_name) as domain_name,
            lower(cname) as cname,
            company_short_name,website_app_name,
            sum(parse_total_cnt) as parse_total_cnt,
            a_record,
            aaaa_record
            from ${param.queryTable}
            <where>
                <include refid="selectByQueryTime"/>
                <if test="param.rankNumber != null">
                    and domain_name in (
                        select
                        lower(domain_name) as domain_name
                        from ${param.queryTable}
                        <where>
                            <include refid="selectByQueryTime"/>
                        </where>
                        group by domain_name
                        order by sum(parse_total_cnt) desc
                        limit ${param.rankNumber} )
                </if>
            </where>
            group by parse_time, domain_name, cname, a_record, aaaa_record,company_short_name,website_app_name
            order by parse_time desc, parse_total_cnt desc) t1

        left join

            (select
                lower(domain_name) as domain_name,
                lower(cname) as cname
            from
                ${param.queryTable}
            <where>
                <if test="param.lstQueryTime != null and param.lstQueryTime !=''">and parse_time =
                    #{param.lstQueryTime}
                </if>
            </where>
            group by domain_name, cname) t2
        on t1.domain_name = t2.domain_name
        limit #{param.offset}, #{param.limit}
    </select>

    <!--download: 默认10000,暂时未使用-->
    <select id="download" resultType="com.yamu.data.sample.service.resources.entity.po.DomainCNameRelationMap">
        select parse_time,
        domain_name,
        cname,
        parse_total_cnt,
        a_record,
        aaaa_record,
        is_change
        from ${param.queryTable}
        <where>
            <include refid="selectParam"/>
            <if test="param.rankNumber != null">
                and domain_name in (
                select
                domain_name
                from ${param.queryTable}
                <where>
                    <include refid="selectParam"/>
                </where>
                group by domain_name
                limit ${param.rankNumber} )
            </if>
        </where>
        order by parse_time desc, parse_total_cnt desc
    </select>

    <select id="countFindDetail" resultType="java.lang.Long">
        select count(t.domain_name) from (
        select parse_time ,
            domain_name,
            cname,
            a_record,
            aaaa_record
        from ${param.queryTable}
        <where>
            <if test="param.queryTime != null and param.queryTime !=''">and parse_time =
                #{param.queryTime}
            </if>
            <if test="param.domainName != null and param.domainName !=''">and domain_name =
                #{param.domainName}
            </if>
        </where>
        group by parse_time ,
            domain_name,
            cname,
            a_record,
            aaaa_record
        )t
    </select>
    <select id="findDetail"
            resultType="com.yamu.data.sample.service.resources.entity.po.DomainCNameRelationDetailSelect">
        select parse_time,
            domain_name,
            cname,
            a_record,
            aaaa_record
        from ${param.queryTable}
        <where>
            <if test="param.queryTime != null and param.queryTime !=''">and parse_time =
                #{param.queryTime}
            </if>
            <if test="param.domainName != null and param.domainName !=''">and domain_name =
                #{param.domainName}
            </if>
        </where>
        group by parse_time ,
            domain_name,
            cname,
            a_record,
            aaaa_record
        order by parse_time desc
        limit #{param.offset}, #{param.limit}
    </select>

    <!--查询条件: 域名关系维表-按照时间点查询-->
    <sql id="selectParam">
        <if test="param.queryTime != null and param.queryTime !=''">and parse_time =
            #{param.queryTime}
        </if>
        <if test="param.domainName != null and param.domainName !='' ">and domain_name
            iLIKE concat('%',#{param.domainName},'%')
        </if>
        <if test="param.cname != null and param.cname !='' ">and cname
            iLIKE concat('%',#{param.cname},'%')
        </if>
    </sql>
    <!--查询父表当前-->
    <sql id="selectByQueryTime">
        <if test="param.queryTime != null and param.queryTime !=''">and parse_time =
            #{param.queryTime}
        </if>
        <if test="param.domainName != null and param.domainName !='' ">and domain_name
            iLIKE concat('%',#{param.domainName},'%')
        </if>
        <if test="param.cname != null and param.cname !='' ">and cname
            iLIKE concat('%',#{param.cname},'%')
        </if>
    </sql>
</mapper>