<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.PartnerDomainCnameFlowMapper">
    <sql id="likeDomain">
        <if test="queryParam.domainName != null and queryParam.domainName != ''">
            and rsdnc.domain_name ilike concat('%'
            , #{queryParam.domainName}
            , '%')
        </if>
    </sql>
    <sql id="equalsDoamin">
        <if test="queryParam.domainName != null and queryParam.domainName != ''">
            and rsdnc.domain_name = #{queryParam.domainName}
        </if>
    </sql>
    <!--主表cname查询子表domain-->
    <sql id="selectCname">
        <choose>
            <when test="queryParam.cnameList != null and queryParam.cnameList != ''">
                and rsdnc.cname in
                <foreach collection="queryParam.cnameList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </when>
        </choose>
    </sql>
    <sql id="likeCname">
        <if test="queryParam.cname != null and queryParam.cname != ''">
            and rsdnc.cname ilike concat('%'
            , #{queryParam.cname}
            , '%')
        </if>
    </sql>
    <sql id="selectParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">
            and rsdnc.parse_time &gt;= #{queryParam.startTime}
        </if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">
            and rsdnc.parse_time &lt;= #{queryParam.endTime}
        </if>
        <choose>
            <!--查询CDN域名-->
            <when test="queryParam.domainTypeKey == '0'.toString()">
                and rsdnc.domain_type_key = 0
            </when>
            <!--查询特定域名-->
            <when test="queryParam.domainTypeKey != null and queryParam.domainTypeKey != '' and queryParam.domainTypeKey != '0'.toString()">
                and rsdnc.domain_type_key = #{queryParam.domainTypeKey,jdbcType=INTEGER}
            </when>
        </choose>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">
            and rsdnc.districts_code = #{queryParam.districtsCode}
        </if>
        <if test="queryParam.country != null and queryParam.country != ''">
            and rsdnc.country = #{queryParam.country}
        </if>
        <if test="queryParam.province != null and queryParam.province != ''">
            and rsdnc.province = #{queryParam.province}
        </if>
        <if test="queryParam.city != null and queryParam.city != ''">
            and rsdnc.city = #{queryParam.city}
        </if>
        <if test="queryParam.district != null and queryParam.district != ''">
            and rsdnc.district = #{queryParam.district}
        </if>
        <if test="queryParam.isp != null and queryParam.isp != ''">
            and rsdnc.isp = #{queryParam.isp}
        </if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">
            and rsdnc.isp_code = #{queryParam.ispCode}
        </if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>
    <!--查询total不需要排序找topn-->
    <select id="countQueryGroupByDomainName" resultType="java.lang.Long">
        select count(*) from (
                select rsdnc.domain_name
                from (select rsdnc.domain_name
                      from ${queryParam.queryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="likeDomain"/>
            <include refid="likeCname"/>
        </where>
        group by rsdnc.domain_name
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
        ) as rsdnc
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.domain_name = dddr.domain_name
        <where>
            <choose>
                <when test="queryParam.distributeState == '已下发'">
                    and (dddr.domain_name is not null
                        and dddr.domain_name != '')
                </when>
                <when test="queryParam.distributeState == '未下发'">
                    and (dddr.domain_name is null
                            or dddr.domain_name = '')
                </when>
            </choose>
        </where>
        )
    </select>

    <select id="queryGroupByDomainName"
            resultType="com.yamu.data.sample.service.resources.entity.po.PartnerDomainCnameFlow">
        select rsdnc.*,
               dddr.domain_name                                                    as dial_domain_name,
               if(dial_domain_name is null or dial_domain_name = '', '未下发', '已下发') as distribute_state
                from (select rsdnc.domain_name,
                             arrayStringConcat(groupArray(distinct rsdnc.cname), ';') as cname,
                             sum(parse_total_cnt)                                     as parse_total_cnt,
                             sum(parse_success_cnt)                                   as parse_success_cnt,
                             sum(net_out_parse_flow_total)                            as net_out_parse_flow_total,
                             sum(net_out_parse_total_cnt)                             as net_out_parse_total_cnt,
                             sum(net_in_parse_total_cnt)                              as net_in_parse_total_cnt,
                             sum(within_parse_total_cnt)                              as within_parse_total_cnt,
                             sum(without_parse_total_cnt)                             as without_parse_total_cnt
                      from ${queryParam.queryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="likeDomain"/>
            <include refid="likeCname"/>
        </where>
        group by rsdnc.domain_name
        order by net_out_parse_flow_total desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
        ) as rsdnc
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.domain_name = dddr.domain_name
        <where>
            <choose>
                <when test="queryParam.distributeState == '已下发'">
                    and (dddr.domain_name is not null
                        and dddr.domain_name != '')
                </when>
                <when test="queryParam.distributeState == '未下发'">
                    and (dddr.domain_name is null
                            or dddr.domain_name = '')
                </when>
            </choose>
        </where>
        order by ${queryParam.orderBy}
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <select id="queryGroupByParseTime"
            resultType="com.yamu.data.sample.service.resources.entity.po.PartnerDomainCnameFlow">
        select parse_time,
               sum(parse_total_cnt)          as parse_total_cnt,
               sum(parse_success_cnt)        as parse_success_cnt,
               sum(net_out_parse_flow_total) as net_out_parse_flow_total,
               sum(net_out_parse_total_cnt)  as net_out_parse_total_cnt,
               sum(net_in_parse_total_cnt)   as net_in_parse_total_cnt,
               sum(within_parse_total_cnt)   as within_parse_total_cnt,
               sum(without_parse_total_cnt)  as without_parse_total_cnt
        from ${queryParam.queryTable} rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="equalsDoamin"/>
            <include refid="likeCname"/>
        </where>
        group by parse_time
        order by parse_time
    </select>

    <!--查询total不需要order by-->
    <select id="queryCountGroupByCName" resultType="java.lang.Long">
        select count(*) from (select rsdnc.cname
                from (select cname
                      from ${queryParam.cnameQueryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="equalsDoamin"/>
            <if test="queryParam.domainName == null or queryParam.domainName == ''">
                and 1 = 2
            </if>
        </where>
        group by cname
                ) as rsdnc
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.cname = dddr.domain_name
        <where>
            <choose>
                <when test="queryParam.distributeState == '已下发'">
                    and (dddr.domain_name is not null and dddr.domain_name != '')
                </when>
                <when test="queryParam.distributeState == '未下发'">
                    and (dddr.domain_name is null or dddr.domain_name = '')
                </when>
            </choose>
        </where>
        )
    </select>

    <select id="queryGroupByCName" resultType="com.yamu.data.sample.service.resources.entity.po.PartnerDomainCnameFlow">
        select rsdnc.*,
               dddr.domain_name                                                    as dial_domain_name,
               if(dial_domain_name is null or dial_domain_name = '', '未下发', '已下发') as distribute_state
                from (select cname,
                             sum(parse_total_cnt)          as parse_total_cnt,
                             sum(parse_success_cnt)        as parse_success_cnt,
                             sum(parse_flow_total)         as parse_flow_total,
                             sum(net_out_parse_flow_total) as net_out_parse_flow_total,
                             sum(net_out_parse_total_cnt)  as net_out_parse_total_cnt,
                             sum(net_in_parse_flow_total)  as net_in_parse_flow_total,
                             sum(net_in_parse_total_cnt)   as net_in_parse_total_cnt,
                             sum(within_parse_total_cnt)   as within_parse_total_cnt,
                             sum(without_parse_total_cnt)  as without_parse_total_cnt,
                             sum(cdn_parse_total_cnt)      as cdn_parse_total_cnt,
                             sum(idc_parse_total_cnt)      as idc_parse_total_cnt
                      from ${queryParam.cnameQueryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="equalsDoamin"/>
            <if test="queryParam.domainName == null or queryParam.domainName == ''">
                and 1 = 2
            </if>
        </where>
        group by cname
        order by ${queryParam.orderBy}
                ) as rsdnc
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.cname = dddr.domain_name
        <where>
            <choose>
                <when test="queryParam.distributeState == '已下发'">
                    and (dddr.domain_name is not null and dddr.domain_name != '')
                </when>
                <when test="queryParam.distributeState == '未下发'">
                    and (dddr.domain_name is null or dddr.domain_name = '')
                </when>
            </choose>
        </where>
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <select id="topDomain" resultType="java.lang.String">
        select domain_name
        from ${queryParam.queryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="likeDomain"/>
        </where>
        group by domain_name
        order by sum(net_out_parse_flow_total) desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
    </select>

    <select id="queryGroupByDomainNameCname"
            resultType="com.yamu.data.sample.service.resources.entity.po.PartnerDomainCnameFlow">
        select rsdnc.cname                                                         as domain_name,
               dddr.domain_name                                                    as dial_domain_name,
               if(dial_domain_name is null or dial_domain_name = '', '未下发', '已下发') as distribute_state,
               parse_total_cnt,
               parse_success_cnt,
               parse_flow_total,
               net_out_parse_flow_total,
               net_out_parse_total_cnt,
               net_in_parse_flow_total,
               net_in_parse_total_cnt,
               within_parse_total_cnt,
               without_parse_total_cnt,
               cdn_parse_total_cnt,
               idc_parse_total_cnt
                from (
                select cname,
                       sum(parse_total_cnt)          as parse_total_cnt,
                       sum(parse_success_cnt)        as parse_success_cnt,
                       sum(parse_flow_total)         as parse_flow_total,
                       sum(net_out_parse_flow_total) as net_out_parse_flow_total,
                       sum(net_out_parse_total_cnt)  as net_out_parse_total_cnt,
                       sum(net_in_parse_flow_total)  as net_in_parse_flow_total,
                       sum(net_in_parse_total_cnt)   as net_in_parse_total_cnt,
                       sum(within_parse_total_cnt)   as within_parse_total_cnt,
                       sum(without_parse_total_cnt)  as without_parse_total_cnt,
                       sum(cdn_parse_total_cnt)      as cdn_parse_total_cnt,
                       sum(idc_parse_total_cnt)      as idc_parse_total_cnt
                from ${queryParam.cnameQueryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            and concat(domain_name, cname) in
            <foreach collection="queryParam.domainNameCnameList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        group by rsdnc.cname
                ) as rsdnc
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.cname = dddr.domain_name
    </select>

    <select id="queryCnameFlowByDomainName"
            resultType="com.yamu.data.sample.service.resources.entity.po.PartnerDomainCnameFlow">
        select rsdnc.domain_name                                                   as domain_name,
               rsdnc.cname                                                         as cname,
               dddr.domain_name                                                    as dial_domain_name,
               if(dial_domain_name is null or dial_domain_name = '', '未下发', '已下发') as distribute_state,
               parse_total_cnt,
               parse_success_cnt,
               parse_flow_total,
               net_out_parse_flow_total,
               net_out_parse_total_cnt,
               net_in_parse_flow_total,
               net_in_parse_total_cnt,
               within_parse_total_cnt,
               without_parse_total_cnt,
               cdn_parse_total_cnt,
               idc_parse_total_cnt
                from (select arrayJoin(splitByChar(';',
                                                   #{domainNames})
                                     ) as domain) domain_table
                inner join (select domain_name,
                                   cname,
                                   sum(parse_total_cnt)          as parse_total_cnt,
                                   sum(parse_success_cnt)        as parse_success_cnt,
                                   sum(parse_flow_total)         as parse_flow_total,
                                   sum(net_out_parse_flow_total) as net_out_parse_flow_total,
                                   sum(net_out_parse_total_cnt)  as net_out_parse_total_cnt,
                                   sum(net_in_parse_flow_total)  as net_in_parse_flow_total,
                                   sum(net_in_parse_total_cnt)   as net_in_parse_total_cnt,
                                   sum(within_parse_total_cnt)   as within_parse_total_cnt,
                                   sum(without_parse_total_cnt)  as without_parse_total_cnt,
                                   sum(cdn_parse_total_cnt)      as cdn_parse_total_cnt,
                                   sum(idc_parse_total_cnt)      as idc_parse_total_cnt
                            from ${queryParam.cnameQueryTable} as rsdnc
        <where>
            <include refid="selectParam"/>
            <include refid="likeDomain"/>
            <include refid="likeCname"/>
        </where>
        group by rsdnc.domain_name, rsdnc.cname
        order by ${queryParam.orderBy}
                ) rsdnc
                on domain_table.domain = rsdnc.domain_name
                left join (select domain_name from dim.dim_dial_domain_record group by domain_name) as dddr
                on rsdnc.cname = dddr.domain_name
    </select>
</mapper>
