<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.PopularDomainTopNMapper">

    <select id="countFindRankNumberByParam" resultType="java.lang.Long">
        select count(1) from
        (
        <if test="queryParam.rankNumber != null">
            select domain_name from (
        </if>
        select
        domain_name
        from ${resultTable}
        <where>
            <include refid="find"/>
        </where>
        group by domain_name
        <if test="queryParam.rankNumber != null">
            ) limit #{queryParam.rankNumber}
        </if>
        )
    </select>
    <select id="findRankNumberByParam" resultType="com.yamu.data.sample.service.resources.entity.po.PopularDomainTopN">
        <if test="queryParam.rankNumber != null">
            select domain_name, parse_total_cnt, rank_number from (
        </if>
        select domain_name,
            sum(parse_total_cnt)                                 as parse_total_cnt,
            row_number() OVER (ORDER BY parse_total_cnt DESC)       rank_number
        from ${resultTable}
        <where>
            <include refid="find"/>
        </where>
        group by domain_name
        <if test="queryParam.rankNumber != null">
            ) where rank_number &lt;= #{queryParam.rankNumber}
        </if>
        limit ${queryParam.offset}, ${queryParam.limit}
        settings allow_experimental_window_functions = 1
    </select>
    <!--上个时间段TopN对象-->
    <select id="findLastRankNumber" resultType="com.yamu.data.sample.service.resources.entity.po.PopularDomainTopN">
        select domain_name, last_parse_total_cnt, last_rank_number from (
            select domain_name,
                sum(parse_total_cnt)                                     as last_parse_total_cnt,
                row_number() OVER (ORDER BY last_parse_total_cnt DESC)      last_rank_number
            from ${resultTable}
            <where>
                <include refid="find"/>
            </where>
            group by domain_name
        )
        <where>
            <if test="domainList != null and domainList.size()>0">
                domain_name in
                    <foreach collection="domainList" item ="domain" index="i" open="(" close=")" separator=",">
                        #{domain}
                    </foreach>
                </if>
        </where>
        settings allow_experimental_window_functions = 1
    </select>
    <!--下载-->
    <select id="download" resultType="com.yamu.data.sample.service.resources.entity.po.PopularDomainTopN">
        select t1.*,t2.* from (
            <if test="queryParam.rankNumber != null">
                select domain_name, parse_total_cnt, rank_number from (
            </if>
                    select domain_name,
                        sum(parse_total_cnt)                                 as parse_total_cnt,
                        row_number() OVER (ORDER BY parse_total_cnt DESC)       rank_number
                    from ${resultTable}
                    <where>
                        <include refid="find"/>
                    </where>
                    group by domain_name
                    order by parse_total_cnt desc
            <if test="queryParam.rankNumber != null">
                )
                where rank_number &lt;= #{queryParam.rankNumber}
            </if>
            limit ${queryParam.offset}, ${queryParam.limit}
        )t1
        global left join (
            select domain_name,
                sum(parse_total_cnt) as last_parse_total_cnt,
                row_number() over (order by last_parse_total_cnt desc) last_rank_number
            from ${resultTable}
            <where>
                <include refid="download"/>
            </where>
            group by domain_name) t2
        on t1.domain_name = t2.domain_name
        settings allow_experimental_window_functions = 1
    </select>

    <sql id="find">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.businessIp != null and queryParam.businessIp != ''">and business_ip = #{queryParam.businessIp}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name ilike concat('%',#{queryParam.domainName},'%')</if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>
    <sql id="download">
        <if test="queryParam.lastStartTime != null and queryParam.lastStartTime != ''">and parse_time &gt;= #{queryParam.lastStartTime}</if>
        <if test="queryParam.lastEndTime != null and queryParam.lastEndTime != ''">and parse_time &lt;= #{queryParam.lastEndTime}</if>
        <if test="queryParam.businessIp != null and queryParam.businessIp != ''">and business_ip = #{queryParam.businessIp}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name ilike concat('%',#{queryParam.domainName},'%')</if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>
</mapper>
