<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.RecordDomainNameMapper">

    <select id="getTotal" resultType="java.lang.Long">
        select count(1) from (
            select domain_name as domainName,icp_code,company_short_name,website_name,
            sum(parse_total_cnt) as parseTotalCnt,sum(parse_success_cnt) as parseSuccessCnt,
            sum(net_out_parse_total_cnt) as netOutParseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt,
            sum(parse_fail_cnt) as parseFailCnt,sum(within_parse_total_cnt) as withinParseTotalCnt,sum(without_parse_total_cnt) as withoutParseTotalCnt,
            sum(cdn_parse_total_cnt) as cdnParseTotalCnt,sum(idc_parse_total_cnt) as idcParseTotalCnt,count(DISTINCT whole_domain_name) as domainNameCnt,
            sum(zgdx_cnt) as zgdxCnt,sum(zglt_cnt) as zgltCnt,sum(gat_cnt) as gatCnt,sum(out_country_cnt) as outCountryCnt,sum(unknown_cnt) as unknownCnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveParam"/>
            </where>
            group by domain_name,icp_code,company_short_name,website_name
        )
    </select>

    <select id="getList" resultType="com.yamu.data.sample.service.resources.entity.po.RecordDomainNameList">
        select domain_name as domainName,icp_code,company_short_name,website_name,
        sum(parse_total_cnt) as parseTotalCnt,sum(parse_success_cnt) as parseSuccessCnt,
        sum(net_out_parse_total_cnt) as netOutParseTotalCnt,sum(net_in_parse_total_cnt) as netInParseTotalCnt,
        sum(parse_fail_cnt) as parseFailCnt,sum(within_parse_total_cnt) as withinParseTotalCnt,sum(without_parse_total_cnt) as withoutParseTotalCnt,
        sum(cdn_parse_total_cnt) as cdnParseTotalCnt,sum(idc_parse_total_cnt) as idcParseTotalCnt,count(DISTINCT whole_domain_name) as domainNameCnt,
        sum(zgdx_cnt) as zgdxCnt,sum(zglt_cnt) as zgltCnt,sum(gat_cnt) as gatCnt,sum(out_country_cnt) as outCountryCnt,sum(unknown_cnt) as unknownCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by domain_name,icp_code,company_short_name,website_name
        order by parseTotalCnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="getSumCnt" resultType="com.yamu.data.sample.service.resources.entity.po.RecordDomainNameList">
        select
        sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
    </select>

    <select id="getDetailList" resultType="com.yamu.data.sample.service.resources.entity.po.RecordDomainNameDetailList">
        select
        whole_domain_name as wholeDomainName,sum(parse_total_cnt) as parseTotalCnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        </where>
        group by whole_domain_name
        order by parseTotalCnt desc
    </select>

    <sql id="selectiveParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            <choose>
                <when test="queryParam.userType == '固网' || queryParam.userType == '手机'">
                    and user_type = #{queryParam.userType}
                </when>
                <otherwise>
                    and net_type = #{queryParam.userType}
                </otherwise>
            </choose>
        </if>
    </sql>
</mapper>
