<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.ResourceDomainTopnDetailMapper">

    <select id="countCdnReportlList" resultType="java.lang.Long">
        select count(*) from (SELECT
        domain_name ,
        business cdnBusiness,
        SUM(parse_total_cnt)  as cdnResponseCnt,
        max(o3.parse_total_cnt3) as  cdnParseTotalCnt ,
        round((SUM(parse_total_cnt)  / max(o2.parse_total_cnt2))* 100,2) as responseProportion ,
        round((SUM(parse_total_cnt)  / max(o3.parse_total_cnt3))* 100,2) as cdnResponseProportion ,
        SUM(parse_success_cnt) as successCnt ,
        round((successCnt / cdnResponseCnt)* 100,2) successRate ,
        SUM(net_in_parse_total_cnt) as netInCnt,
        round((netInCnt / cdnResponseCnt)* 100,2) as netInRate ,
        SUM(within_parse_total_cnt) as withinCnt ,
        round((withinCnt / cdnResponseCnt)* 100,2) as withinRate
        from
        ${queryParam.queryTable} ,(
        select
        sum(parse_total_cnt) as parse_total_cnt2
        from
        ${queryParam.aQueryTable}
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>) o2 ,(select
        sum(parse_total_cnt) parse_total_cnt3
        from
        ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>) o3
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>

        and domain_name GLOBAL in (
        select domain_name from (
        select
        domain_name
        from
        (
        select
        domain_name,
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        if(a_record_parse_total_cnt == 0,
        0.0,
        divide(net_in_parse_total_cnt * 100,
        a_record_parse_total_cnt)) as net_in_rate_val
        from
        ${queryParam.aQueryTable}
        <where>
            <include refid="selectiveParamCdnTime2"/>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">

                and
                domain_name global in (
                select
                domain_name
                from
                ${queryParam.aQueryTable}
                <where>
                    <include refid="selectiveParamCdn2"/>
                </where>
                group by
                domain_name
                HAVING
                1 = 1
                order by
                sum (parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by
        domain_name
        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay != '' and queryParam.statisticsWay == 'every'">,parse_time </if>
        HAVING
        1 = 1 )
        <where>
            <if test="queryParam.netInRateMin != null or queryParam.netInRateMax != null">
                <include refid="selectiveParamCdnNet"/>
            </if>
        </where>
        order by
        parse_total_cnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
        ))
        group by
        business,domain_name
        order by cdnResponseCnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>)
        <where>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        </where>
    </select>
    <select id="findCdnReport"
            resultType="com.yamu.data.sample.service.resources.entity.po.PopularDomainCdnReport">
        select * from (SELECT
        domain_name ,
        business cdnBusiness,
        SUM(parse_total_cnt)  as cdnResponseCnt,
        max(o3.parse_total_cnt3) as  cdnParseTotalCnt ,
        round((SUM(parse_total_cnt)  / max(o2.parse_total_cnt2))* 100,2) as responseProportion ,
        round((SUM(parse_total_cnt)  / max(o3.parse_total_cnt3))* 100,2) as cdnResponseProportion ,
        SUM(parse_success_cnt) as successCnt ,
        round((successCnt / cdnResponseCnt)* 100,2) successRate ,
        SUM(net_in_parse_total_cnt) as netInCnt,
        round((netInCnt / cdnResponseCnt)* 100,2) as netInRate ,
        SUM(within_parse_total_cnt) as withinCnt ,
        round((withinCnt / cdnResponseCnt)* 100,2) as withinRate
        from
        ${queryParam.queryTable} ,(
        select
        sum(parse_total_cnt) as parse_total_cnt2
        from
        ${queryParam.aQueryTable}
        <where>
                <include refid="selectiveParamCdn2"/>
        </where>) o2 ,(select
        sum(parse_total_cnt) parse_total_cnt3
        from
        ${queryParam.queryTable}
        <where>
                <include refid="selectiveParamCdn2"/>
        </where>) o3
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>

        and domain_name GLOBAL in (
        select domain_name from (
        select
        domain_name
        from
        (
        select
        domain_name,
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        if(a_record_parse_total_cnt == 0,
        0.0,
        divide(net_in_parse_total_cnt * 100,
        a_record_parse_total_cnt)) as net_in_rate_val
        from
        ${queryParam.aQueryTable}
        <where>
        <include refid="selectiveParamCdnTime2"/>
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">

            and
                domain_name global in (
                select
                domain_name
                from
                ${queryParam.aQueryTable}
                <where>
                    <include refid="selectiveParamCdn2"/>
                </where>
                group by
                domain_name
                HAVING
                1 = 1
                order by
                sum (parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
        </if>
        </where>
        group by
        domain_name
        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay != '' and queryParam.statisticsWay == 'every'">,parse_time </if>
        HAVING
        1 = 1 )
        <where>
            <if test="queryParam.netInRateMin != null or queryParam.netInRateMax != null">
                <include refid="selectiveParamCdnNet"/>
            </if>
        </where>
        order by
        parse_total_cnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
        ))
        group by
        business,domain_name
        order by cdnResponseCnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>)
        <where>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        </where>
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>
    <select id="findCdnReport2"
            resultType="com.yamu.data.sample.service.resources.entity.po.PopularDomainCdnReport">
        select * from (SELECT
        domain_name ,
        business cdnBusiness,
        SUM(parse_total_cnt)  as cdnResponseCnt,
        max(o3.parse_total_cnt3) as  cdnParseTotalCnt ,
        round((SUM(parse_total_cnt)  / max(o2.parse_total_cnt2)),4) as responseProportion ,
        round((SUM(parse_total_cnt)  / max(o3.parse_total_cnt3)),4) as cdnResponseProportion ,
        SUM(parse_success_cnt) as successCnt ,
        round((successCnt / cdnResponseCnt),4) successRate ,
        SUM(net_in_parse_total_cnt) as netInCnt,
        round((netInCnt / cdnResponseCnt),4) as netInRate ,
        SUM(within_parse_total_cnt) as withinCnt ,
        round((withinCnt / cdnResponseCnt),4) as withinRate
        from
        ${queryParam.queryTable} ,(
        select
        sum(parse_total_cnt) as parse_total_cnt2
        from
        ${queryParam.aQueryTable}
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>) o2 ,(select
        sum(parse_total_cnt) parse_total_cnt3
        from
        ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>) o3
        <where>
            <include refid="selectiveParamCdn2"/>
        </where>

        and domain_name GLOBAL in (
        select domain_name from (
        select
        domain_name
        from
        (
        select
        domain_name,
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        if(a_record_parse_total_cnt == 0,
        0.0,
        divide(net_in_parse_total_cnt * 100,
        a_record_parse_total_cnt)) as net_in_rate_val
        from
        ${queryParam.aQueryTable}
        <where>
            <include refid="selectiveParamCdnTime2"/>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">

                and
                domain_name global in (
                select
                domain_name
                from
                ${queryParam.aQueryTable}
                <where>
                    <include refid="selectiveParamCdn2"/>
                </where>
                group by
                domain_name
                HAVING
                1 = 1
                order by
                sum (parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by
        domain_name
        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay != '' and queryParam.statisticsWay == 'every'">,parse_time </if>
        HAVING
        1 = 1 )
        <where>
            <if test="queryParam.netInRateMin != null or queryParam.netInRateMax != null">
                <include refid="selectiveParamCdnNet"/>
            </if>
        </where>
        order by
        parse_total_cnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit #{queryParam.rankNumber}
        </if>
        ))
        group by
        business,domain_name
        order by cdnResponseCnt desc
        )
        <where>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        </where>
    </select>

    <sql id="selectiveParamCdnNet">
        <if test="queryParam.netInRateMax != null and queryParam.netInRateMax != ''">and net_in_rate_val  &lt;= #{queryParam.netInRateMax}</if>
        <if test="queryParam.netInRateMin != null and queryParam.netInRateMin != ''">and net_in_rate_val >= #{queryParam.netInRateMin}</if>

        </sql>
    <sql id="selectiveParamCdnTime">
<!--        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay != ''">and parse_time &gt;= #{queryParam.startTime}</if>-->
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>

        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name ilike concat('%',#{queryParam.domainName},'%')</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
    </sql>
    <sql id="selectiveParamCdn">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != '' and queryParam.statisticsWay == 'every'">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != '' and queryParam.statisticsWay != 'every'">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name ilike concat('%',#{queryParam.domainName},'%')</if>
        <if test="queryParam.business != null and queryParam.business != ''">and business ilike concat('%',#{queryParam.business},'%')</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType} </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.domainList != null and queryParam.domainList != ''">
            <trim prefix="and (" suffix=")" suffixOverrides="or">
                <foreach collection="queryParam.domainList" item="domain">
                    <if test="domain != null and domain !=''"> domain_name ilike concat('%' , #{domain}, '%') or</if>
                </foreach>
            </trim>
        </if>
<!--        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay == 'every'">  parse_time= #{queryParam.timeRange}</if>-->
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
    </sql>

    <sql id="selectiveParamCdnTime2">
        <!--        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay != ''">and parse_time &gt;= #{queryParam.startTime}</if>-->
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>

        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
    </sql>
    <sql id="selectiveParamCdn2">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != '' and queryParam.statisticsWay == 'every'">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != '' and queryParam.statisticsWay != 'every'">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.business != null and queryParam.business != ''">and business ilike concat('%',#{queryParam.business},'%')</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType} </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.domainList != null and queryParam.domainList != ''">
            <trim prefix="and (" suffix=")" suffixOverrides="or">
                <foreach collection="queryParam.domainList" item="domain">
                    <if test="domain != null and domain !=''"> domain_name ilike concat('%' , #{domain}, '%') or</if>
                </foreach>
            </trim>
        </if>
        <!--        <if test="queryParam.statisticsWay != null and queryParam.statisticsWay == 'every'">  parse_time= #{queryParam.timeRange}</if>-->
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
    </sql>

    <select id="findUserSource"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select
        answer_first_city,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
            <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
            <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
            <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
            <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
            <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
            <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
            <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
            <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        </where>
        group by answer_first_city
        order by parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvince"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceData">
        select answer_first_province,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province
        order by parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvinceDetail"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceDetail">
        select answer_first_province,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province , answer_first_isp
        order by answer_first_province,parse_total_cnt desc
    </select>

    <select id="getIpDetailExcelList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceIpDetailData">
        select  business_ip as answerFirstIp,answer_first_province as province,answer_first_city as city,answer_first_isp,parse_total_cnt
        from (
        select
        business_ip,answer_first_province,answer_first_city,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceExcelParam"/>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                and domain_name global in (
                select domain_name
                from ${queryTable}
                <where> 1=1
                    <include refid="selectiveDistributionProvinceExcelParam"/>
                </where>
                group by domain_name
                order by sum(parse_total_cnt) desc
                limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by case when business_ip is null or business_ip ='' then '其他' else business_ip end as business_ip,
        answer_first_province,answer_first_city,answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
        )
    </select>

    <sql id="selectiveDistributionProvinceParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
        <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
    </sql>

    <sql id="selectiveDistributionProvinceExcelParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.domainList != null and queryParam.domainList != ''">
            <trim prefix="and (" suffix=")" suffixOverrides="or">
                <foreach collection="queryParam.domainList" item="domain">
                    <if test="domain != null and domain !=''"> domain_name ilike concat('%' , #{domain}, '%') or</if>
                </foreach>
            </trim>
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
        <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
    </sql>

</mapper>