<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.ResourceWebsiteTopNNetOutDetailMapper">

    <select id="findIspOfDomainNetOut" resultType="java.lang.String">
        select answer_first_isp
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOut"/>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select
                website_app_name
                from
                ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamOfNetOut"/>
                </where>
                group by
                website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by answer_first_isp
        order by sum(a_record_parse_total_cnt) desc
    </select>
    <select id="countDomainNetOutList" resultType="java.lang.Long">
        select count(1) from
        (
        select
        domain_name,
        answer_first_isp
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOut"/>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select
                website_app_name
                from
                ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamOfNetOut"/>
                </where>
                group by
                website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by domain_name, answer_first_isp
        )
    </select>
    <select id="findDomainNetOutList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        domain_name,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_count
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOut"/>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select
                website_app_name
                from
                ${queryParam.aQueryTable}
                <where>
                    <include refid="selectiveParamOfNetOut"/>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by domain_name, answer_first_isp
        order by net_out_parse_total_count desc, parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="findDomainNetOutExcelListNoResource"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        domain_name,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_count
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOutExcel"/>
            <include refid="selectiveParamExcelNoResources"/>
        </where>
        group by domain_name, answer_first_isp
        order by net_out_parse_total_count desc, parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="findDomainNetOutExcelList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        domain_name,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_count
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOutExcel"/>
            <include refid="selectiveParamExcel"/>
        </where>
        group by domain_name, answer_first_isp
        order by net_out_parse_total_count desc, parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="countDomainNetOutDetailList" resultType="java.lang.Long">
        select count(1) from
        (
        select
        answer_first_ip,
        answer_first_province,
        answer_first_city,
        answer_first_isp
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOut"/>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select
                website_app_name
                from
                ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamOfNetOut"/>
                </where>
                group by
                website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by answer_first_ip, answer_first_province, answer_first_city, answer_first_isp
        )
    </select>
    <select id="findDomainNetOutDetailList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        answer_first_ip,
        answer_first_province,
        answer_first_city,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOut"/>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select
                website_app_name
                from
                ${queryParam.aQueryTable}
                <where>
                    <include refid="selectiveParamOfNetOut"/>
                </where>
                group by
                website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by answer_first_ip, answer_first_province, answer_first_city, answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="findDomainNetOutDetailExcelListNoResource"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        answer_first_ip,
        answer_first_province,
        answer_first_city,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOutExcel"/>
            <include refid="selectiveParamExcelNoResources"/>
        </where>
        group by answer_first_ip, answer_first_province, answer_first_city, answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="findDomainNetOutDetailExcelList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteTopNNetOutDetail">
        select
        answer_first_ip,
        answer_first_province,
        answer_first_city,
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamOfNetOutExcel"/>
            <include refid="selectiveParamExcel"/>
        </where>
        group by answer_first_ip, answer_first_province, answer_first_city, answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
    </select>

    <sql id="selectiveParamOfNetOut">
        and net_out_parse_total_cnt > 0
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name = #{queryParam.websiteAppName}</if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">and website_type = #{queryParam.websiteType}</if>
        <if test="queryParam.answerFirstIp != null and queryParam.answerFirstIp != ''">and answer_first_ip = #{queryParam.answerFirstIp}</if>
        <if test="queryParam.answerFirstProvince != null and queryParam.answerFirstProvince != ''">and answer_first_province = #{queryParam.answerFirstProvince}</if>
        <if test="queryParam.answerFirstCity != null and queryParam.answerFirstCity != ''">and answer_first_city = #{queryParam.answerFirstCity}</if>
        <if test="queryParam.answerFirstIsp != null and queryParam.answerFirstIsp != ''">and answer_first_isp = #{queryParam.answerFirstIsp}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParamOfNetOutExcel">
        and net_out_parse_total_cnt > 0
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name ilike concat('%',#{queryParam.websiteAppName},'%')</if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">and website_type = #{queryParam.websiteType}</if>
        <if test="queryParam.answerFirstIp != null and queryParam.answerFirstIp != ''">and answer_first_ip = #{queryParam.answerFirstIp}</if>
        <if test="queryParam.answerFirstProvince != null and queryParam.answerFirstProvince != ''">and answer_first_province = #{queryParam.answerFirstProvince}</if>
        <if test="queryParam.answerFirstCity != null and queryParam.answerFirstCity != ''">and answer_first_city = #{queryParam.answerFirstCity}</if>
        <if test="queryParam.answerFirstIsp != null and queryParam.answerFirstIsp != ''">and answer_first_isp = #{queryParam.answerFirstIsp}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name ilike concat('%',#{queryParam.websiteAppName},'%')</if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">and website_type = #{queryParam.websiteType}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">and districts_code = #{queryParam.districtsCode}</if>
        <if test="queryParam.country != null and queryParam.country != ''">and country = #{queryParam.country}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.isp != null and queryParam.isp != ''">and isp = #{queryParam.isp}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParamExcel">
        and website_app_name global in (
            select website_app_name from (
                <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null">
                    select * from (
                </if>
                select
                website_app_name,
                website_type,
                sum(parse_total_cnt) as parse_total_cnt,
                sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
                sum(parse_success_cnt) as parse_success_cnt,
                sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
                sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
                sum(within_parse_total_cnt) as within_parse_total_cnt,
                sum(without_parse_total_cnt) as without_parse_total_cnt,
                sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
                <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null"> if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) as net_in_rate_val, </if>
                sum(idc_parse_total_cnt) as idc_parse_total_cnt
                from ${websiteTopNDetail.queryTable}
                <where>
                    <include refid="selectiveParam"/>
                    <if test = "websiteTopNDetail.rankNumber != null and websiteTopNDetail.rankNumber != ''">
                        and website_app_name global in (
                        select
                        website_app_name
                        from
                        ${websiteTopNDetail.queryTable}
                        <where>
                            <include refid="selectiveParam"/>
                        </where>
                        group by
                        website_app_name
                        order by sum(parse_total_cnt) desc limit #{websiteTopNDetail.rankNumber}
                        )
                    </if>
                </where>
                group by  website_app_name, website_type
                <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null">
                    )
                    <where>
                        <if test="websiteTopNDetail.netInRateMin != null"> and net_in_rate_val &gt;= #{websiteTopNDetail.netInRateMin}</if>
                        <if test="websiteTopNDetail.netInRateMax != null"> and net_in_rate_val &lt;= #{websiteTopNDetail.netInRateMax}</if>
                    </where>
                </if>
                order by parse_total_cnt desc
                limit #{websiteTopNDetail.offset}, #{websiteTopNDetail.limit}
            )
        )
    </sql>

    <sql id="selectiveParamExcelNoResources">
        and website_app_name global in (
        select website_app_name from (
        <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null">
            select * from (
        </if>
        select
        website_app_name,
        website_type,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(parse_success_cnt) as parse_success_cnt,
        sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
        sum(within_parse_total_cnt) as within_parse_total_cnt,
        sum(without_parse_total_cnt) as without_parse_total_cnt,
        sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
        <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null"> if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) as net_in_rate_val, </if>
        sum(idc_parse_total_cnt) as idc_parse_total_cnt
        from ${websiteTopNDetail.queryTable}
        <where>
            <include refid="selectiveParam"/>
            <if test = "websiteTopNDetail.rankNumber != null and websiteTopNDetail.rankNumber != ''">
                and website_app_name global in (
                select
                website_app_name
                from
                ${websiteTopNDetail.queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
                group by
                website_app_name
                HAVING 1=1
                <if test="queryParam.netInZero != null and queryParam.netInZero != ''">
                    and sum(net_in_parse_total_cnt) = 0
                </if>
                <if test="queryParam.withinZero != null and queryParam.withinZero != ''">
                    and sum(within_parse_total_cnt) = 0
                </if>
                order by sum(parse_total_cnt) desc limit #{websiteTopNDetail.rankNumber}
                )
            </if>
        </where>
        group by  website_app_name, website_type
        HAVING 1=1
        <if test="queryParam.netInZero != null and queryParam.netInZero != ''">
            and net_in_parse_total_cnt = 0
        </if>
        <if test="queryParam.withinZero != null and queryParam.withinZero != ''">
            and within_parse_total_cnt = 0
        </if>
        <if test="websiteTopNDetail.netInRateMin != null or websiteTopNDetail.netInRateMax != null">
            )
            <where>
                <if test="websiteTopNDetail.netInRateMin != null"> and net_in_rate_val &gt;= #{websiteTopNDetail.netInRateMin}</if>
                <if test="websiteTopNDetail.netInRateMax != null"> and net_in_rate_val &lt;= #{websiteTopNDetail.netInRateMax}</if>
            </where>
        </if>
        order by parse_total_cnt desc
        limit #{websiteTopNDetail.offset}, #{websiteTopNDetail.limit}
        )
        )
    </sql>

</mapper>
