<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.ResourceCdnDistributionMapper">
    <select id="queryCompany" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceCdnDistribution">
        select cdn_company
        ,sum(parse_total_cnt) as parse_total_cnt
        ,sum(a_record_parse_total_cnt) as a_record_parse_total_cnt
        ,sum(net_in_parse_total_cnt) as net_in_parse_total_cnt
        from ${queryParam.mainTable}
        <where>
            cdn_company global in (select cdn_company from (<include refid="joinQuery"></include>) group by cdn_company)
            <if test="queryParam.userCity != null and queryParam.userCity != ''">
                and user_city = #{queryParam.userCity}
            </if>
            <if test="queryParam.userType != null and queryParam.userType != ''">
                and user_type = #{queryParam.userType}
            </if>
        </where>
        group by cdn_company
        order by parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>
    <select id="countCompany"  resultType="java.lang.Long">
        select count(*) from(select cdn_company from (<include refid="joinQuery"></include>) group by cdn_company)
    </select>
    <select id="queryDomainByCompany" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceCdnDistribution">
        <include refid="domainQuery"></include>
        order by domain_parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>
    <select id="countDomainByCompany"  resultType="java.lang.Long">
        select count(*) from (<include refid="domainQuery"></include>)
    </select>
    <select id="queryDownload" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceCdnDistribution">
        select * from (select cdn_company
        ,sum(parse_total_cnt) as parse_total_cnt
        ,sum(a_record_parse_total_cnt) as a_record_parse_total_cnt
        ,sum(net_in_parse_total_cnt) as net_in_parse_total_cnt
        from ${queryParam.mainTable}
        <where>
            cdn_company global in (select cdn_company from (<include refid="joinQuery"></include>) group by cdn_company)
        </where>
        group by cdn_company) aa left join (
            select cdn_company
            ,domain_name as domain_name
            ,cname as cname
            ,sum(parse_total_cnt) as domain_parse_total_cnt
            ,sum(a_record_parse_total_cnt) as domain_a_record_parse_total_cnt
            ,sum(net_in_parse_total_cnt) as domain_net_in_parse_total_cnt
            ,sum(net_out_parse_total_cnt) as domain_net_out_parse_total_cnt
            ,ip_address_type as ip_address_type
            ,ip_address as ip_address
            ,sum(ip_address_parse_total_cnt) as ip_address_parse_total_cnt
            ,ip_address_isp as ip_address_isp
            ,ip_address_province as ip_address_province
            ,ip_address_city as ip_address_city
            from ${queryParam.subTable}
            <where>
                <include refid="domainQueryParam"></include>
            </where>
            group by cdn_company,domain_name,cname,ip_address_type,ip_address,ip_address_isp,ip_address_province,ip_address_city
        ) bb on aa.cdn_company = bb.cdn_company
        order by aa.parse_total_cnt desc,bb.domain_parse_total_cnt desc
    </select>
    <sql id="joinQuery">
        select cdn_company
        from ${queryParam.subTable}
        <where>
            <include refid="joinQueryParam"></include>
        </where>
    </sql>
    <sql id="domainQuery">
        select domain_name as domain_name
        ,cname as cname
        ,sum(parse_total_cnt) as domain_parse_total_cnt
        ,sum(a_record_parse_total_cnt) as domain_a_record_parse_total_cnt
        ,sum(net_in_parse_total_cnt) as domain_net_in_parse_total_cnt
        ,sum(net_out_parse_total_cnt) as domain_net_out_parse_total_cnt
        ,ip_address_type as ip_address_type
        ,ip_address as ip_address
        ,sum(ip_address_parse_total_cnt) as ip_address_parse_total_cnt
        ,ip_address_isp as ip_address_isp
        ,ip_address_province as ip_address_province
        ,ip_address_city as ip_address_city
        from ${queryParam.subTable}
        <where>
            <include refid="domainQueryParam"></include>
            <if test="queryParam.cdnCompany != null and queryParam.cdnCompany != ''">
                and cdn_company = #{queryParam.cdnCompany}
            </if>
        </where>
        group by domain_name,cname,ip_address_type,ip_address,ip_address_isp,ip_address_province,ip_address_city
    </sql>
    <sql id="joinQueryParam">
        <if test="queryParam.userCity != null and queryParam.userCity != ''">
            and user_city = #{queryParam.userCity}
        </if>
        <if test="queryParam.cname != null and queryParam.cname != ''">
            and cname like concat('%',#{queryParam.cname},'%')
        </if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">
            and domain_name like concat('%',#{queryParam.domainName},'%')
        </if>
        <if test="queryParam.cdnCompany != null and queryParam.cdnCompany != ''">
            and cdn_company like concat('%',#{queryParam.cdnCompany},'%')
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
    </sql>
    <sql id="domainQueryParam">
        <if test="queryParam.userCity != null and queryParam.userCity != ''">
            and user_city = #{queryParam.userCity}
        </if>
        <if test="queryParam.cname != null and queryParam.cname != ''">
            and cname like concat('%',#{queryParam.cname},'%')
        </if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">
            and domain_name like concat('%',#{queryParam.domainName},'%')
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
    </sql>
</mapper>