<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.ResourcePartnerDomainDetailMapper">

    <select id="findUserSource"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select
        answer_first_city,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
            <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
            <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
            <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
            <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
            <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
            <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
            <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
            <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
            <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
            <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
        </where>
        group by answer_first_city
        order by parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvince"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceData">
        select answer_first_province,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province
        order by parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvinceDetail"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceDetail">
        select answer_first_province,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province , answer_first_isp
        order by answer_first_province,parse_total_cnt desc
    </select>

    <select id="getIpDetailTotal"
            resultType="java.lang.Long">
        select count(*) from (
        select
        answer_first_ip,answer_first_province,answer_first_city,answer_first_isp
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by case when  answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
        answer_first_province,answer_first_city, answer_first_isp)
    </select>

    <select id="getIpDetailList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceIpDetailData">
        select  answer_first_ip,answer_first_province as province,answer_first_city as city,answer_first_isp,parse_total_cnt
        from (
            select answer_first_ip,answer_first_province,answer_first_city,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
            from ${queryTable}
            <where> 1=1
                <include refid="selectiveDistributionProvinceParam"/>
            </where>
            group by case when answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
            answer_first_province,answer_first_city,answer_first_isp
            order by parse_total_cnt desc
            limit #{queryParam.offset}, #{queryParam.limit}
        )
    </select>

    <select id="getIpDetailExcelList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceIpDetailData">
        select  answer_first_ip,answer_first_province as province,answer_first_city as city,answer_first_isp,parse_total_cnt
        from (
        select
        answer_first_ip,answer_first_province,answer_first_city,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceExcelParam"/>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                and domain_name global in (
                select domain_name
                from ${queryTable}
                <where> 1=1
                    <include refid="selectiveDistributionProvinceExcelParam"/>
                </where>
                group by domain_name
                order by sum(parse_total_cnt) desc
                limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by case when answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
        answer_first_province,answer_first_city,answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
        )
    </select>

    <sql id="selectiveDistributionProvinceParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name = #{queryParam.domainName}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
        <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveDistributionProvinceExcelParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.domainName != null and queryParam.domainName != ''">and domain_name like  concat('%',#{queryParam.domainName},'%')</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.qtype != null and queryParam.qtype != ''">and qtype = #{queryParam.qtype}</if>
        <if test="queryParam.qtype != null and queryParam.qtype == 'other'">and qtype not in ('1','2','5','28','6', '12', '15', '16','65')</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

</mapper>