<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.SpecificDomainWebsiteMapper">
    <!--按照时间段查询明细表-->
    <select id="queryDataGroupByWebsiteByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select *
        from (
        select website_app_name,
        website_type,company_short_name,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(parse_success_cnt) as parse_success_cnt,
        sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
        sum(within_parse_total_cnt) as within_parse_total_cnt,
        sum(without_parse_total_cnt) as without_parse_total_cnt,
        sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt) as idc_parse_total_cnt,
        row_number() over (order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by website_app_name,website_type,company_short_name
        <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
            having
            <if test="domainWebsiteDetail.netInRateMin != null">
            if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                <if test="domainWebsiteDetail.netInRateMax != null">
                    and
                </if>
            </if>
            <if test="domainWebsiteDetail.netInRateMax != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
            </if>
        </if>
        settings allow_experimental_window_functions = 1
        )
        <where>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                and rank_number &lt;= #{domainWebsiteDetail.rankNumber}
            </if>
        </where>
        order by ${domainWebsiteDetail.orderBy}
        <if test="domainWebsiteDetail.limit != null and domainWebsiteDetail.limit != ''">
            limit #{domainWebsiteDetail.limit}
            <if test="domainWebsiteDetail.offset != null and domainWebsiteDetail.offset != ''">
                offset #{domainWebsiteDetail.offset}
            </if>
        </if>
    </select>
    <!--按照时间段查询明细表total-->
    <select id="countQueryDataGroupByWebsiteByParam" resultType="java.lang.Long">
        select count(*)
        from (
        select website_app_name,
        website_type,company_short_name,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(parse_success_cnt) as parse_success_cnt,
        sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
        sum(within_parse_total_cnt) as within_parse_total_cnt,
        sum(without_parse_total_cnt) as without_parse_total_cnt,
        sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt) as idc_parse_total_cnt,
        row_number() over (order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by website_app_name, website_type,company_short_name
        <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
            having
            <if test="domainWebsiteDetail.netInRateMin != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                <if test="domainWebsiteDetail.netInRateMax != null">
                    and
                </if>
            </if>
            <if test="domainWebsiteDetail.netInRateMax != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
            </if>
        </if>
        settings allow_experimental_window_functions = 1
        )
        <where>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                and rank_number &lt;= #{domainWebsiteDetail.rankNumber}
            </if>
        </where>
    </select>
    <!-- 解析趋势 -->
    <select id="queryDataGroupByParseTimeByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select parse_time,
               sum(parse_total_cnt)         as parse_total_cnt,
               sum(a_record_parse_total_cnt)      as a_record_parse_total_cnt,
               sum(parse_success_cnt)       as parse_success_cnt,
               sum(net_in_parse_total_cnt)  as net_in_parse_total_cnt,
               sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
               sum(within_parse_total_cnt)  as within_parse_total_cnt,
               sum(without_parse_total_cnt) as without_parse_total_cnt,
               sum(cdn_parse_total_cnt)     as cdn_parse_total_cnt,
               sum(idc_parse_total_cnt)     as idc_parse_total_cnt
        from ${domainWebsiteDetail.queryTable}
        <where>
            <choose>
                <when test="isTopN == true">
                    <include refid="selectiveParamLike"/>
                    and website_app_name global in (
                    select website_app_name from
                    ${domainWebsiteDetail.queryTable}
                    <where>
                        <include refid="selectiveParamLike"/>
                    </where>
                    group by website_app_name
                    <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
                        having
                        <if test="domainWebsiteDetail.netInRateMin != null">
                            if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                            <if test="domainWebsiteDetail.netInRateMax != null">
                                and
                            </if>
                        </if>
                        <if test="domainWebsiteDetail.netInRateMax != null">
                            if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
                        </if>
                    </if>
                    order by sum(parse_total_cnt) desc
                    <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                        limit #{domainWebsiteDetail.rankNumber}
                    </if>
                    )
                </when>
                <otherwise>
                    <include refid="selectiveParamByRateReport"/>
                    and website_app_name global in (
                    select website_app_name from
                    ${domainWebsiteDetail.queryTable}
                    <where>
                        <include refid="selectiveParamByRateReport"/>
                    </where>
                    group by website_app_name
                    <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
                        having
                        <if test="domainWebsiteDetail.netInRateMin != null">
                            if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                            <if test="domainWebsiteDetail.netInRateMax != null">
                                and
                            </if>
                        </if>
                        <if test="domainWebsiteDetail.netInRateMax != null">
                            if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
                        </if>
                    </if>
                    order by sum(parse_total_cnt) desc
                    <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                        limit #{domainWebsiteDetail.rankNumber}
                    </if>
                    )
                </otherwise>
            </choose>
        </where>
        group by parse_time
        order by parse_time
    </select>
    <!--资源分布-->
    <select id="findTrendReportGroupByIspByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select  answer_first_isp as isp,
               sum(a_record_parse_total_cnt)                      as a_record_parse_total_cnt
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamByRateReport"/>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.websiteType != null and domainWebsiteDetail.websiteType != ''">
                and website_app_name
                        in (
                        select website_app_name
                        from ${domainWebsiteDetail.queryTable}
                <where>
                    <include refid="selectiveParamByRateReport"/>
                </where>
                group by website_app_name
                        order by sum(a_record_parse_total_cnt) desc
                <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                    limit #{domainWebsiteDetail.rankNumber}
                </if>
                )
            </if>
        </where>
        group by answer_first_isp
        order by a_record_parse_total_cnt desc
    </select>
    <!--按照时间粒度查询明细表-->
    <select id="queryDataGroupByParseTimeAndWebsiteByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select *
        from (select parse_time,
        website_app_name,
        website_type,company_short_name,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(parse_success_cnt) as parse_success_cnt,
        sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
        sum(within_parse_total_cnt) as within_parse_total_cnt,
        sum(without_parse_total_cnt) as without_parse_total_cnt,
        sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt) as idc_parse_total_cnt,
        row_number() over (partition by parse_time order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by parse_time, website_app_name, website_type,company_short_name
        <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
            having
            <if test="domainWebsiteDetail.netInRateMin != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                <if test="domainWebsiteDetail.netInRateMax != null">
                    and
                </if>
            </if>
            <if test="domainWebsiteDetail.netInRateMax != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
            </if>
        </if>
        order by parse_time desc, parse_total_cnt desc
        settings
        allow_experimental_window_functions = 1)
        <where>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                rank_number &lt;= #{domainWebsiteDetail.rankNumber}
            </if>
        </where>
        order by ${domainWebsiteDetail.orderBy}
        <if test="domainWebsiteDetail.limit != null and domainWebsiteDetail.limit != ''">
            limit #{domainWebsiteDetail.limit}
            <if test="domainWebsiteDetail.offset != null and domainWebsiteDetail.offset != ''">
                offset #{domainWebsiteDetail.offset}
            </if>
        </if>
    </select>
    <!--按照时间粒度查询明细表total-->
    <select id="countQueryDataGroupByParseTimeAndWebsiteByParam" resultType="java.lang.Long">
        select count(*)
        from (select *
        from (select parse_time,
        website_app_name,
        website_type,company_short_name,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() over (partition by parse_time order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by parse_time, website_app_name, website_type,company_short_name
        <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
            having
            <if test="domainWebsiteDetail.netInRateMin != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                <if test="domainWebsiteDetail.netInRateMax != null">
                    and
                </if>
            </if>
            <if test="domainWebsiteDetail.netInRateMax != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
            </if>
        </if>
        settings
        allow_experimental_window_functions = 1)
        <where>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                rank_number &lt;= #{domainWebsiteDetail.rankNumber}
            </if>
        </where>
        )
    </select>
    <select id="queryRankNumberGroupByWebsite"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select website_app_name,
               sum(parse_total_cnt)         as parse_total_cnt,
               sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
               sum(parse_success_cnt)       as parse_success_cnt,
               sum(net_in_parse_total_cnt)  as net_in_parse_total_cnt,
               sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
               sum(within_parse_total_cnt)  as within_parse_total_cnt,
               sum(without_parse_total_cnt) as without_parse_total_cnt,
               sum(cdn_parse_total_cnt)     as cdn_parse_total_cnt,
               sum(idc_parse_total_cnt)     as idc_parse_total_cnt
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
                and website_app_name in
                <foreach collection="websites" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
        </where>
        group by website_app_name
    </select>

    <select id="queryRankNumberGroupByWebsiteByTime"
            resultType="com.yamu.data.sample.service.resources.entity.po.SpecificDomainWebsiteDetail">
        select parse_time,
               website_app_name,
               sum(parse_total_cnt)                                                      as parse_total_cnt,
               sum(a_record_parse_total_cnt)                                             as a_record_parse_total_cnt,
               sum(parse_success_cnt)                                                    as parse_success_cnt,
               sum(net_in_parse_total_cnt)                                               as net_in_parse_total_cnt,
               sum(net_out_parse_total_cnt)                                              as net_out_parse_total_cnt,
               sum(within_parse_total_cnt)                                               as within_parse_total_cnt,
               sum(without_parse_total_cnt)                                              as without_parse_total_cnt,
               sum(cdn_parse_total_cnt)                                                  as cdn_parse_total_cnt,
               sum(idc_parse_total_cnt)                                                  as idc_parse_total_cnt,
               row_number() over (partition by parse_time order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
            <if test="websites != null and websites != '' and  websites.size() !=0 ">
                and website_app_name in
                <foreach collection="websites" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        group by parse_time,
                website_app_name
        order by parse_time desc, parse_total_cnt desc
                settings allow_experimental_window_functions = 1
    </select>
    <sql id="selectiveParamWhere">
        <if test="domainWebsiteDetail.startTime != null">
            and parse_time &gt;= #{domainWebsiteDetail.startTime}
        </if>
        <if test="domainWebsiteDetail.endTime != null">
            and parse_time &lt; #{domainWebsiteDetail.endTime}
        </if>
        <if test="domainWebsiteDetail.websiteAppName != null and domainWebsiteDetail.websiteAppName != ''">
            and website_app_name = #{domainWebsiteDetail.websiteAppName}
        </if>
        <if test="domainWebsiteDetail.websiteType != null and domainWebsiteDetail.websiteType != ''">
            and website_type = #{domainWebsiteDetail.websiteType}
        </if>
        <if test="domainWebsiteDetail.districtsCode != null and domainWebsiteDetail.districtsCode != ''">
            and districts_code = #{domainWebsiteDetail.districtsCode}
        </if>
        <if test="domainWebsiteDetail.country != null and domainWebsiteDetail.country != ''">
            and country = #{domainWebsiteDetail.country}
        </if>
        <if test="domainWebsiteDetail.province != null and domainWebsiteDetail.province != ''">
            and province = #{domainWebsiteDetail.province}
        </if>
        <if test="domainWebsiteDetail.city != null and domainWebsiteDetail.city != ''">
            and city = #{domainWebsiteDetail.city}
        </if>
        <if test="domainWebsiteDetail.district != null and domainWebsiteDetail.district != ''">
            and district = #{domainWebsiteDetail.district}
        </if>
        <if test="domainWebsiteDetail.isp != null and domainWebsiteDetail.isp != ''">
            and isp = #{domainWebsiteDetail.isp}
        </if>
        <if test="domainWebsiteDetail.ispCode != null and domainWebsiteDetail.ispCode != ''">
            and isp_code = #{domainWebsiteDetail.ispCode}
        </if>
        <if test="domainWebsiteDetail.userType != null and domainWebsiteDetail.userType != ''">
            and user_type = #{domainWebsiteDetail.userType}
        </if>
        <if test="domainWebsiteDetail.serverNodeName !=null and domainWebsiteDetail.serverNodeName !=''">and server_node_name = #{domainWebsiteDetail.serverNodeName}</if>
    </sql>
    <sql id="selectiveParamLike">
        <if test="domainWebsiteDetail.startTime != null">
            and parse_time &gt;= #{domainWebsiteDetail.startTime}
        </if>
        <if test="domainWebsiteDetail.endTime != null">
            and parse_time &lt; #{domainWebsiteDetail.endTime}
        </if>
        <if test="domainWebsiteDetail.websiteAppName != null and domainWebsiteDetail.websiteAppName != ''">
            and website_app_name ilike concat('%',#{domainWebsiteDetail.websiteAppName},'%')
        </if>
        <if test="domainWebsiteDetail.websiteType != null and domainWebsiteDetail.websiteType != ''">
            and website_type = #{domainWebsiteDetail.websiteType}
        </if>
        <if test="domainWebsiteDetail.districtsCode != null and domainWebsiteDetail.districtsCode != ''">
            and districts_code = #{domainWebsiteDetail.districtsCode}
        </if>
        <if test="domainWebsiteDetail.country != null and domainWebsiteDetail.country != ''">
            and country = #{domainWebsiteDetail.country}
        </if>
        <if test="domainWebsiteDetail.province != null and domainWebsiteDetail.province != ''">
            and province = #{domainWebsiteDetail.province}
        </if>
        <if test="domainWebsiteDetail.city != null and domainWebsiteDetail.city != ''">
            and city = #{domainWebsiteDetail.city}
        </if>
        <if test="domainWebsiteDetail.district != null and domainWebsiteDetail.district != ''">
            and district = #{domainWebsiteDetail.district}
        </if>
        <if test="domainWebsiteDetail.isp != null and domainWebsiteDetail.isp != ''">
            and isp = #{domainWebsiteDetail.isp}
        </if>
        <if test="domainWebsiteDetail.ispCode != null and domainWebsiteDetail.ispCode != ''">
            and isp_code = #{domainWebsiteDetail.ispCode}
        </if>
        <if test="domainWebsiteDetail.userType != null and domainWebsiteDetail.userType != ''">
            and user_type = #{domainWebsiteDetail.userType}
        </if>
        <if test="domainWebsiteDetail.serverNodeName !=null and domainWebsiteDetail.serverNodeName !=''">and server_node_name = #{domainWebsiteDetail.serverNodeName}</if>
    </sql>

    <sql id="selectiveParamByRateReport">
        <if test="domainWebsiteDetail.startTime != null">
            and parse_time &gt;= #{domainWebsiteDetail.startTime}
        </if>
        <if test="domainWebsiteDetail.endTime != null">
            and parse_time &lt; #{domainWebsiteDetail.endTime}
        </if>
        <if test="domainWebsiteDetail.websiteAppName != null and domainWebsiteDetail.websiteAppName != ''">
            and website_app_name = #{domainWebsiteDetail.websiteAppName}
        </if>
        <if test="domainWebsiteDetail.websiteType != null and domainWebsiteDetail.websiteType != ''">
            and website_type = #{domainWebsiteDetail.websiteType}
        </if>
        <if test="domainWebsiteDetail.districtsCode != null and domainWebsiteDetail.districtsCode != ''">
            and districts_code = #{domainWebsiteDetail.districtsCode}
        </if>
        <if test="domainWebsiteDetail.country != null and domainWebsiteDetail.country != ''">
            and country = #{domainWebsiteDetail.country}
        </if>
        <if test="domainWebsiteDetail.province != null and domainWebsiteDetail.province != ''">
            and province = #{domainWebsiteDetail.province}
        </if>
        <if test="domainWebsiteDetail.city != null and domainWebsiteDetail.city != ''">
            and city = #{domainWebsiteDetail.city}
        </if>
        <if test="domainWebsiteDetail.district != null and domainWebsiteDetail.district != ''">
            and district = #{domainWebsiteDetail.district}
        </if>
        <if test="domainWebsiteDetail.isp != null and domainWebsiteDetail.isp != ''">
            and isp = #{domainWebsiteDetail.isp}
        </if>
        <if test="domainWebsiteDetail.ispCode != null and domainWebsiteDetail.ispCode != ''">
            and isp_code = #{domainWebsiteDetail.ispCode}
        </if>
        <if test="domainWebsiteDetail.userType != null and domainWebsiteDetail.userType != ''">
            and user_type = #{domainWebsiteDetail.userType}
        </if>
        <if test="domainWebsiteDetail.serverNodeName !=null and domainWebsiteDetail.serverNodeName !=''">and server_node_name = #{domainWebsiteDetail.serverNodeName}</if>
    </sql>

    <select id="findUserSource"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select
        answer_first_city,
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(parse_total_cnt) over (PARTITION by website_app_name ) as ptc
        from ${queryParam.queryTable}
        <where>
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
            <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name = #{queryParam.websiteAppName}</if>
            <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
            <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
            <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
            <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
            <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
            <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
            <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
            <if test = "(queryParam.rankNumber != null and queryParam.rankNumber != '') and (queryParam.websiteAppName == null or queryParam.websiteAppName == '')">
                and website_app_name global in (
                select website_app_name
                from ${queryParam.queryTable}
                <where>
                    <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
                    <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
                    <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name = #{queryParam.websiteAppName}</if>
                    <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
                    <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
                    <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
                    <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
                    <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
                    <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
                    <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
                    <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc limit #{queryParam.rankNumber}
                )
            </if>
        </where>
        group by answer_first_city,website_app_name
        order by ptc desc,website_app_name,parse_total_cnt desc
    </select>

    <select id="findUserSourceExcel"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select
        answer_first_city,
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(parse_total_cnt) over (PARTITION by website_app_name ) as ptc
        from ${queryParam.queryTable}
        <where>
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
            <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name ilike concat('%',#{queryParam.websiteAppName},'%')</if>
            <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
            <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
            <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
            <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
            <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
            <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
            <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
            <include refid="selectiveParamExcel"/>
        </where>
        group by answer_first_city,website_app_name
        order by ptc desc,website_app_name,parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvince"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceData">
        select answer_first_province,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province
        order by parse_total_cnt desc
    </select>

    <select id="resourceDistributionProvinceDetail"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceDistributionProvinceDetail">
        select answer_first_province,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by answer_first_province , answer_first_isp
        order by answer_first_province,parse_total_cnt desc
    </select>

    <select id="getIpDetailTotal"
            resultType="java.lang.Long">
        select count(*) from (
        select
        answer_first_ip,answer_first_province,answer_first_city,answer_first_isp
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by case when  answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
        answer_first_province,answer_first_city, answer_first_isp)
    </select>

    <select id="getIpDetailList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceIpDetailData">
        select  answer_first_ip,answer_first_province as province,answer_first_city as city,answer_first_isp,parse_total_cnt
        from (
        select
        answer_first_ip,answer_first_province,answer_first_city,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceParam"/>
        </where>
        group by case when answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
        answer_first_province,answer_first_city,answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit})
    </select>

    <select id="getIpDetailExcelList"
            resultType="com.yamu.data.sample.service.resources.entity.po.ResourceIpDetailData">
        select  answer_first_ip,answer_first_province as province,answer_first_city as city,answer_first_isp,parse_total_cnt
        from (
        select
        answer_first_ip,answer_first_province,answer_first_city,answer_first_isp,sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveDistributionProvinceExcelParam"/>
            <include refid="selectiveParamExcel"/>
        </where>
        group by case when answer_first_ip is null or answer_first_ip ='' then '其他' else answer_first_ip end as answer_first_ip,
        answer_first_province,answer_first_city,answer_first_isp
        order by parse_total_cnt desc
        limit #{queryParam.offset}, #{queryParam.limit}
        )
    </select>

    <sql id="selectiveDistributionProvinceParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name = #{queryParam.websiteAppName}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveDistributionProvinceExcelParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">and website_app_name ilike concat('%',#{queryParam.websiteAppName},'%')</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        <if test="queryParam.province != null and queryParam.province != ''">and province = #{queryParam.province}</if>
        <if test="queryParam.city != null and queryParam.city != ''">and city = #{queryParam.city}</if>
        <if test="queryParam.district != null and queryParam.district != ''">and district = #{queryParam.district}</if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">and isp_code = #{queryParam.ispCode}</if>
        <if test="queryParam.queryTime != null and queryParam.queryTime != ''">and parse_time = #{queryParam.queryTime}</if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParamExcel">
        and website_app_name global in (
        select website_app_name from (
        select *
        from (
        select website_app_name,
        website_type,
        sum(parse_total_cnt) as parse_total_cnt,
        sum(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        sum(parse_success_cnt) as parse_success_cnt,
        sum(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt) as net_out_parse_total_cnt,
        sum(within_parse_total_cnt) as within_parse_total_cnt,
        sum(without_parse_total_cnt) as without_parse_total_cnt,
        sum(cdn_parse_total_cnt) as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt) as idc_parse_total_cnt,
        row_number() over (order by parse_total_cnt desc) as rank_number
        from ${domainWebsiteDetail.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by website_app_name,website_type
        <if test="domainWebsiteDetail.netInRateMin != null or domainWebsiteDetail.netInRateMax != null">
            having
            <if test="domainWebsiteDetail.netInRateMin != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &gt;= #{domainWebsiteDetail.netInRateMin}
                <if test="domainWebsiteDetail.netInRateMax != null">
                    and
                </if>
            </if>
            <if test="domainWebsiteDetail.netInRateMax != null">
                if(a_record_parse_total_cnt == 0, 0.0, divide(net_in_parse_total_cnt * 100, a_record_parse_total_cnt)) &lt;= #{domainWebsiteDetail.netInRateMax}
            </if>
        </if>
        settings allow_experimental_window_functions = 1
        )
        <where>
            <if test="domainWebsiteDetail.rankNumber != null and domainWebsiteDetail.rankNumber != ''">
                and rank_number &lt;= #{domainWebsiteDetail.rankNumber}
            </if>
        </where>
        order by ${domainWebsiteDetail.orderBy}
        <if test="domainWebsiteDetail.limit != null and domainWebsiteDetail.limit != ''">
            limit #{domainWebsiteDetail.limit}
            <if test="domainWebsiteDetail.offset != null and domainWebsiteDetail.offset != ''">
                offset #{domainWebsiteDetail.offset}
            </if>
        </if>
        )
        )
    </sql>
</mapper>