<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.TopResourceIpMapper">

    <select id="findTopIpTrend" resultType="com.yamu.data.sample.service.resources.entity.po.TopResourceIp">
        select
            parse_time ,
            SUM(parse_total_cnt) parse_total_cnt
        from
            ${queryParam.queryTable}
        <where>
            1=1
            <include refid="selectByTrend"/>
        </where>
        group by parse_time
        order by parse_time
    </select>

    <select id="countTopIp" resultType="java.lang.Long">
        SELECT
            count(*)
        from (
            SELECT
                answer_first,
                answer_first_province,
                answer_first_city,
                answer_first_isp,
                SUM(parse_total_cnt) parse_total_cnt
            from
                ${queryParam.queryTable}
            <where>
                1=1
                <include refid="selectByParam"/>
            </where>
            group by
                answer_first,
                answer_first_province,
                answer_first_city,
                answer_first_isp
            order by parse_total_cnt desc
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                limit ${queryParam.rankNumber}
            </if>)
    </select>

    <select id="findTopIpTableList" resultType="com.yamu.data.sample.service.resources.entity.po.TopResourceIp">
        select * from(
        SELECT
            answer_first,
            answer_first_province,
            answer_first_city,
            answer_first_isp,
            COUNT(DISTINCT domain_name) domain_name_count,
            COUNT(DISTINCT website_app_name) website_app_name_count,
            SUM(parse_total_cnt) parse_total_cnt
        from
            ${queryParam.queryTable}
        <where>
            1=1
            <include refid="selectByParam"/>
        </where>
        group by
            answer_first,
            answer_first_province,
            answer_first_city,
            answer_first_isp
        order by parse_total_cnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit ${queryParam.rankNumber}
        </if>)
        LIMIT #{queryParam.offset}, #{queryParam.limit}
    </select>

    <select id="findTopIpTableExcelList" resultType="com.yamu.data.sample.service.resources.entity.po.TopResourceIpExcelData">
        select * from(
        SELECT
        answer_first,
        answer_first_province,
        answer_first_city,
        answer_first_isp,
        COUNT(DISTINCT domain_name) domain_name_count,
        COUNT(DISTINCT website_app_name) website_app_name_count,
        SUM(parse_total_cnt) parse_total_cnt
        from
        ${queryParam.queryTable}
        <where>
            1=1
            <include refid="selectByParam"/>
        </where>
        group by
        answer_first,
        answer_first_province,
        answer_first_city,
        answer_first_isp
        order by parse_total_cnt desc
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
            limit ${queryParam.rankNumber}
        </if>)
        LIMIT #{queryParam.offset}, #{queryParam.limit}
    </select>

    <sql id="selectByParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.answerFirst != null and queryParam.answerFirst != ''">and answer_first ilike concat('%',#{queryParam.answerFirst},'%')</if>
        <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
        <if test="queryParam.userCountry != null and queryParam.userCountry != ''">and user_country = #{queryParam.userCountry}</if>
        <if test="queryParam.userProvince != null and queryParam.userProvince != ''">
            <choose>
                <when test="queryParam.isOther == 'true'">and user_province != #{queryParam.userProvince}</when>
                <otherwise>and user_province = #{queryParam.userProvince}</otherwise>
            </choose>
        </if>
        <if test="queryParam.userCity != null and queryParam.userCity != ''">and user_city = #{queryParam.userCity}</if>
        <if test="queryParam.answerFirstIsp != null and queryParam.answerFirstIsp != ''">and answer_first_isp = #{queryParam.answerFirstIsp}</if>
    </sql>

    <sql id="selectByTrend">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt; #{queryParam.endTime}</if>
        <if test="queryParam.answerFirst != null and queryParam.answerFirst != ''">and answer_first = #{queryParam.answerFirst}</if>
        <if test="queryParam.ipType != null and queryParam.ipType != ''">and ip_type = #{queryParam.ipType}</if>
        <if test="queryParam.userCountry != null and queryParam.userCountry != ''">and user_country = #{queryParam.userCountry}</if>
        <if test="queryParam.userProvince != null and queryParam.userProvince != ''">
            <choose>
                <when test="queryParam.isOther == 'true'">and user_province != #{queryParam.userProvince}</when>
                <otherwise>and user_province = #{queryParam.userProvince}</otherwise>
            </choose>
        </if>
        <if test="queryParam.userCity != null and queryParam.userCity != ''">and user_city = #{queryParam.userCity}</if>
        <if test="queryParam.answerFirstIsp != null and queryParam.answerFirstIsp != ''">and answer_first_isp = #{queryParam.answerFirstIsp}</if>
    </sql>
</mapper>