<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.VisualizationHomeMapper">

    <select id="queryParseTotalCnt" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from ${queryTable}
        <where> 1=1
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        </where>
    </select>

    <select id="queryParseTotalCntToday" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from(
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from rpt_resource_visualized_yoy_1min
        where parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from rpt_resource_visualized_yoy_10min
        where parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from rpt_resource_visualized_yoy_1h
        where parse_time &gt;= #{queryParam.startTime}
        and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime}))))
    </select>

    <select id="queryParseTotalCntTodayYoy" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from(
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from rpt_resource_visualized_yoy_1h
        where parse_time >= date_sub(hour,-1,date_trunc('hour',toDateTime(#{queryParam.startTime})))
        and parse_time &lt; #{queryParam.endTime}
        union all
        select
        <include refid="queryParseTotalCntTodayColumn"/>
        from rpt_resource_visualized_yoy_1min
        where parse_time >= date_sub(hour,0,date_trunc('hour',toDateTime(#{nowEndTime})))
        and parse_time &lt; #{nowEndTime})
    </select>

    <select id="queryParseTotalCntWlan" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from ${queryTable}
        <where> 1=1
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        </where>
    </select>

    <select id="queryParseTotalCntWlanToday" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from (
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from rpt_resource_visualized_wlan_yoy_1min
        where parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from rpt_resource_visualized_wlan_yoy_10min
        where parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from rpt_resource_visualized_wlan_yoy_1h
        where parse_time &gt;= #{queryParam.startTime}
        and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime}))))
    </select>

    <select id="queryParseTotalCntWlanTodayYoy" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from (
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from rpt_resource_visualized_wlan_yoy_1h
        where parse_time >= date_sub(hour,-1,date_trunc('hour',toDateTime(#{queryParam.startTime})))
        and parse_time &lt; #{queryParam.endTime}
        union all
        select
        <include refid="queryParseTotalCntWlanTodayColumn"/>
        from rpt_resource_visualized_wlan_yoy_1min
        where parse_time >= date_sub(hour,0,date_trunc('hour',toDateTime(#{nowEndTime})))
        and parse_time &lt; #{nowEndTime})
    </select>

    <select id="queryParseTotalCntMobile" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from ${queryTable}
        <where> 1=1
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        </where>
    </select>

    <select id="queryParseTotalCntMobileToday" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from (
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from rpt_resource_visualized_mobile_yoy_1min
        where parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from rpt_resource_visualized_mobile_yoy_10min
        where parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from rpt_resource_visualized_mobile_yoy_1h
        where parse_time &gt;= #{queryParam.startTime}
        and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime}))))
    </select>

    <select id="queryParseTotalCntMobileTodayYoy" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from (
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from rpt_resource_visualized_mobile_yoy_1h
        where parse_time >= date_sub(hour,-1,date_trunc('hour',toDateTime(#{queryParam.startTime})))
        and parse_time &lt; #{queryParam.endTime}
        union all
        select
        <include refid="queryParseTotalCntMobileTodayColumn"/>
        from rpt_resource_visualized_mobile_yoy_1min
        where parse_time >= date_sub(hour,0,date_trunc('hour',toDateTime(#{nowEndTime})))
        and parse_time &lt; #{nowEndTime})
    </select>

    <select id="queryRecursionParseTrend" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(parse_success_cnt) as parse_success_cnt
        from ${queryTable}
        <where> 1=1
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        </where>
    </select>

    <select id="queryRecursionParseTrendToday" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from (
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from rpt_basic_recursion_parse_trend_1min
        where parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from rpt_basic_recursion_parse_trend_10min
        where parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        union all
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from rpt_basic_recursion_parse_trend_1h
        where parse_time &gt;= #{queryParam.startTime}
        and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime}))))
    </select>

    <select id="queryRecursionParseTrendTodayYoy" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from (
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from rpt_basic_recursion_parse_trend_1h
        where parse_time >= date_sub(hour,-1,date_trunc('hour',toDateTime(#{queryParam.startTime})))
        and parse_time &lt; #{queryParam.endTime}
        union all
        select SUM(parse_total_cnt) as parse_total_cnt, SUM(parse_success_cnt) as parse_success_cnt from rpt_basic_recursion_parse_trend_1min
        where parse_time >= date_sub(hour,0,date_trunc('hour',toDateTime(#{nowEndTime})))
        and parse_time &lt; #{nowEndTime})
    </select>

    <select id="queryTopNParseTotalCnt" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select SUM(parse_total_cnt) as parse_total_cnt from (
        select SUM(parse_total_cnt) as parse_total_cnt from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
            group by domain_name order by  parse_total_cnt desc
            limit ${queryParam.rankNumber})
        </where>
    </select>

    <select id="queryTopNParseTotalCntToday" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select SUM(parse_total_cnt) as parse_total_cnt from (
        select SUM(parse_total_cnt) as parse_total_cnt from (
        select domain_name,SUM(parse_total_cnt) as parse_total_cnt from rpt_resource_domain_topn_detail_1min
        where parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        group by domain_name
        union all
        select domain_name,SUM(parse_total_cnt) as parse_total_cnt from rpt_resource_domain_topn_detail_10min
        where parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        group by domain_name
        union all
        select domain_name,SUM(parse_total_cnt) as parse_total_cnt from rpt_resource_domain_topn_detail_1h
        where parse_time &gt;= #{queryParam.startTime}
        and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        group by domain_name)
        group by domain_name
        order by  parse_total_cnt desc
        limit ${queryParam.rankNumber})
    </select>

    <select id="queryTopNParseTotalCntTodayYoy" resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select SUM(parse_total_cnt) as parse_total_cnt from (
        select SUM(parse_total_cnt) as parse_total_cnt from (
        select domain_name,SUM(parse_total_cnt) as parse_total_cnt from rpt_resource_domain_topn_detail_1h
        where parse_time >= date_sub(hour,-1,date_trunc('hour',toDateTime(#{queryParam.startTime})))
        and parse_time &lt; #{queryParam.endTime}
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        group by domain_name
        union all
        select domain_name,SUM(parse_total_cnt) as parse_total_cnt from rpt_resource_domain_topn_detail_1min
        where parse_time >= date_sub(hour,0,date_trunc('hour',toDateTime(#{nowEndTime})))
        and parse_time &lt; #{nowEndTime}
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        group by domain_name)
        group by domain_name
        order by  parse_total_cnt desc
        limit ${queryParam.rankNumber})
    </select>

    <select id="findUserSource" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select
        answer_first_city,
        sum(parse_total_cnt) as parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by answer_first_city
        order by parse_total_cnt desc
    </select>

    <select id="findUserSourceToday" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceWebsiteUserSource">
        select answer_first_city,sum(parse_total_cnt) parse_total_cnt from (
        select answer_first_city,sum(parse_total_cnt) parse_total_cnt from rpt_resource_user_distribution_visualized_1min
        <where>
            parse_time &gt;= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
            and parse_time &lt; date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        </where>
        group by answer_first_city
        union all
        select answer_first_city,sum(parse_total_cnt) parse_total_cnt from rpt_resource_user_distribution_visualized_10min
        <where>
            parse_time &gt;= date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
            and parse_time &lt; date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        </where>
        group by answer_first_city
        union all
        select answer_first_city,sum(parse_total_cnt) parse_total_cnt from rpt_resource_user_distribution_visualized_1h
        <where>
            parse_time &gt;= #{queryParam.startTime}
            and parse_time &lt; date_sub(hour,+2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
            <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
        </where>
        group by answer_first_city)
        group by answer_first_city
        order by parse_total_cnt desc
    </select>

    <select id="topNTrend" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopNTrendVO">
        select
        parse_time,
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(parse_success_cnt) as parse_success_cnt,
        SUM(parse_fail_cnt) as parse_fail_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(aaaa_record_parse_total_cnt) as aaaa_record_parse_total_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        SUM(net_out_parse_total_cnt) as net_out_parse_total_cnt
        from ${queryTable}
        <where> 1=1
            <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
            <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        </where>
        group by parse_time order by parse_time
    </select>

    <select id="todayParseTotal" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceVisualizedParseRealtime">
        select code,cnt_h,cnt_10min,cnt_1min
        from rpt_resource_visualized_parse_realtime
    </select>

    <select id="yesterdayParseTotal" resultType="com.yamu.data.sample.service.resources.entity.po.ResourceVisualizedParseYes">
        select total_cnt,wlan_cnt,mobile_cnt
        from rpt_resource_visualized_parse_realtime_1d
        <where>
            parse_time = #{parseTime}
        </where>
    </select>

    <select id="top10WebsiteParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by
        website_app_name limit 10
    </select>

    <select id="top10WebsiteIsTodayParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        (
        select
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        website_app_name
        union all
        select
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        website_app_name
        union all
        select
        website_app_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        website_app_name )
        group by
        website_app_name
        limit 10
    </select>

    <select id="top10TypeParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        domain_type,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by
        domain_type limit 10
    </select>

    <select id="top10TypeIsTodayParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        domain_type,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        (
        select
        domain_type,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_type
        union all
        select
        domain_type,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_type
        union all
        select
        domain_type,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_type )
        group by
        domain_type
        limit 10
    </select>

    <select id="top10DomainNameParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        domain_name,
        SUM(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by
        domain_name limit 10
    </select>

    <select id="top10DomainNameIsTodayParseCnt" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        domain_name,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() OVER (ORDER BY parse_total_cnt DESC) rank_number
        from
        (
        select
        domain_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_name
        union all
        select
        domain_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_name
        union all
        select
        domain_name,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        domain_name )
        group by
        domain_name
        limit 10
    </select>

    <select id="answerFirstIspProportion" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        answer_first_isp,
        SUM(parse_total_cnt) as parse_total_cnt
        from
        ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
        group by
        answer_first_isp
    </select>

    <select id="answerFirstIspIsTodayProportion" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        select
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        answer_first_isp
        union all
        select
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        answer_first_isp
        union all
        select
        answer_first_isp,
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        group by
        answer_first_isp )
        group by
        answer_first_isp
    </select>

    <select id="answerFirstIspAll" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        SUM(parse_total_cnt) as parse_total_cnt
        from
        ${queryTable}
        <where> 1=1
            <include refid="selectiveParam"/>
        </where>
    </select>

    <select id="answerFirstIspIsTodayAll" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeTopTenParse">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from (
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        union all
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        union all
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        )
    </select>

    <select id="topNWebsiteProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        <choose>
            <when test="isAll == 'false'">
                (
                select
                sum(parse_total_cnt) as parse_total_cnt
                from ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
                group by
                website_app_name
                order by
                parse_total_cnt desc
                limit 10
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true'">
                    ,(${queryParam.rankNumber}-10)
                </if>
                )
            </when>
            <otherwise>
                ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
            </otherwise>
        </choose>
    </select>

    <select id="topNWebsiteIsTodayProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        <if test="isAll == 'false'">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        </if>
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        select
        <if test="isAll == 'false'">
        website_app_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        website_app_name
        </if>
        union all
        select
        <if test="isAll == 'false'">
        website_app_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        website_app_name
        </if>
        union all
        select
        <if test="isAll == 'false'">
        website_app_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_website_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        website_app_name
        </if> )
        <if test="isAll == 'false'">
            group by
            website_app_name
            order by
            parse_total_cnt desc
            limit 10
        </if>
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true' and isAll == 'false'">
            ,(${queryParam.rankNumber}-10)
        </if>
        <if test="isAll == 'false'">
        )
        </if>
    </select>

    <select id="topNTypeProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        <choose>
            <when test="isAll == 'false'">
                (
                select
                sum(parse_total_cnt) as parse_total_cnt
                from ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
                group by
                domain_type
                order by
                parse_total_cnt desc
                limit 10
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true'">
                    ,(${queryParam.rankNumber}-10)
                </if>
                )
            </when>
            <otherwise>
                ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
            </otherwise>
        </choose>
    </select>

    <select id="topNTypeIsTodayProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        <if test="isAll == 'false'">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        </if>
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        select
        <if test="isAll == 'false'">
        domain_type,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_type
        </if>
        union all
        select
        <if test="isAll == 'false'">
        domain_type,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_type
        </if>
        union all
        select
        <if test="isAll == 'false'">
        domain_type,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_popular_domain_topn_type_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_type
        </if>)
        <if test="isAll == 'false'">
            group by
            domain_type
            order by
            parse_total_cnt desc
            limit 10
        </if>
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true' and isAll == 'false'">
            ,(${queryParam.rankNumber}-10)
        </if>
        <if test="isAll == 'false'">
        )
        </if>
    </select>

    <select id="topNDomainNameProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        <choose>
            <when test="isAll == 'false'">
                (
                select
                sum(parse_total_cnt) as parse_total_cnt
                from ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
                group by
                domain_name
                order by
                parse_total_cnt desc
                limit 10
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true'">
                    ,(${queryParam.rankNumber}-10)
                </if>
                )
            </when>
            <otherwise>
                ${queryTable}
                <where>
                    <include refid="selectiveParam"/>
                </where>
            </otherwise>
        </choose>
    </select>

    <select id="topNDomainNameIsTodayProportion"  resultType="com.yamu.data.sample.service.resources.entity.po.VisualizationHomeData">
        <if test="isAll == 'false'">
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        </if>
        select
        sum(parse_total_cnt) as parse_total_cnt
        from
        (
        select
        <if test="isAll == 'false'">
        domain_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1min
        where
        parse_time >= date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,-1,date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_name
        </if>
        union all
        select
        <if test="isAll == 'false'">
        domain_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_10min rbptm
        where
        parse_time >= date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        and parse_time &lt;date_sub(minute,+30+toInt8OrZero(substring(formatDateTime(toDateTime(#{queryParam.endTime}),'%M'),2,1 )),date_trunc('minute',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_name
        </if>
        union all
        select
        <if test="isAll == 'false'">
        domain_name,
        </if>
        sum(parse_total_cnt) as parse_total_cnt
        from
        rpt_resource_domain_topn_detail_1h rbpth
        where
        parse_time >= date_trunc('day',toDateTime(#{queryParam.endTime}))
        and parse_time &lt;date_sub(hour,+ 2,date_trunc('hour',toDateTime(#{queryParam.endTime})))
        <include refid="selectiveIsTodayParam"/>
        <if test="isAll == 'false'">
        group by
        domain_name
        </if>)
        <if test="isAll == 'false'">
            group by
            domain_name
            order by
            parse_total_cnt desc
            limit 10
        </if>
        <if test="queryParam.rankNumber != null and queryParam.rankNumber != '' and queryParam.rankNumber !=10L and topTen != 'true' and isAll == 'false'">
            ,(${queryParam.rankNumber}-10)
        </if>
        <if test="isAll == 'false'">
        )
        </if>
    </select>

    <select id="getMaxTime" resultType="com.yamu.data.sample.service.resources.entity.vo.VisualizationHomeDataVO">
        select partition as endTime from system.parts where table = #{queryTable}
        order by partition desc limit 1
    </select>

    <sql id="selectiveParam">
        <if test="queryParam.startTime != null and queryParam.startTime != ''">and parse_time &gt;= #{queryParam.startTime}</if>
        <if test="queryParam.endTime != null and queryParam.endTime != ''">and parse_time &lt;= #{queryParam.endTime}</if>
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
    </sql>

    <sql id="selectiveIsTodayParam">
        <if test="queryParam.userType != null and queryParam.userType != ''">and user_type = #{queryParam.userType}</if>
    </sql>

    <sql id="queryParseTotalCntMobileTodayColumn">
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(aaaa_record_parse_total_cnt) as aaaa_record_parse_total_cnt,
        SUM(parse_success_cnt) as parse_success_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        SUM(within_parse_total_cnt) as within_parse_total_cnt,
        SUM(parse_total_cnt_234g) as parse_total_cnt_234g,
        SUM(parse_total_cnt_45g) as parse_total_cnt_45g,
        SUM(parse_total_cnt_5g) as parse_total_cnt_5g
    </sql>

    <sql id="queryParseTotalCntWlanTodayColumn">
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(aaaa_record_parse_total_cnt) as aaaa_record_parse_total_cnt,
        SUM(parse_success_cnt) as parse_success_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        SUM(within_parse_total_cnt) as within_parse_total_cnt,
        SUM(wlan_parse_total_cnt) as wlan_parse_total_cnt,
        SUM(jike_parse_total_cnt) as jike_parse_total_cnt,
        SUM(jiake_parse_total_cnt) as jiake_parse_total_cnt
    </sql>

    <sql id="queryParseTotalCntTodayColumn">
        SUM(parse_total_cnt) as parse_total_cnt,
        SUM(a_record_parse_total_cnt) as a_record_parse_total_cnt,
        SUM(aaaa_record_parse_total_cnt) as aaaa_record_parse_total_cnt,
        SUM(parse_success_cnt) as parse_success_cnt,
        SUM(net_in_parse_total_cnt) as net_in_parse_total_cnt,
        SUM(within_parse_total_cnt) as within_parse_total_cnt,
        SUM(mobile_parse_total_cnt) as mobile_parse_total_cnt,
        SUM(wlan_parse_total_cnt) as wlan_parse_total_cnt
    </sql>

</mapper>