<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yamu.data.sample.service.resources.mapper.WebsiteSecondLevelDomainTopNMapper">
    <!--按照时间段查询明细表-->
    <!--明细表汇总表按时间段-->
    <select id="queryDataGroupByTimeParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select
        website_app_name,
        website_type,
        sum(parse_total_cnt)  as parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
            <if test="queryParam.rankNumber != null">
                and website_app_name
                in (
                select website_app_name
                from ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamLike"/>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by website_app_name, website_type order by parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <!--子表明细表按时间段-->
    <select id="querySecondDataGroupByTimeParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type,
        sum(parse_total_cnt)                              as second_level_domain_parse_total_cnt,
        sum(parse_success_cnt)                            as parse_success_cnt,
        sum(net_in_parse_total_cnt)                       as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt)                      as net_out_parse_total_cnt,
        sum(within_parse_total_cnt)                       as within_parse_total_cnt,
        sum(without_parse_total_cnt)                      as without_parse_total_cnt,
        sum(cdn_parse_total_cnt)                          as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt)                          as idc_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveSecondParamLike"/>
        </where>
        group by
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        order by second_level_domain_parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <!--明细表汇总表按时间粒度-->
    <select id="queryDataGroupByQueryTimeParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select *
        from (
        select
        parse_time,
        website_app_name,
        website_type,
        sum(parse_total_cnt)  as parse_total_cnt,
        row_number() over (partition by parse_time order by parse_total_cnt desc) as rank_number
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by
        parse_time,
        website_app_name,
        website_type
        settings allow_experimental_window_functions = 1
        )
        <where>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                and rank_number &lt;= #{queryParam.rankNumber}
            </if>
        </where>
        order by parse_time desc, parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <!--子表明细表按时间粒度-->
    <select id="querySecondDataGroupByQueryTimeParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select *
        from (
        select
        parse_time,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type,
        sum(parse_total_cnt)                              as second_level_domain_parse_total_cnt,
        sum(parse_success_cnt)                            as parse_success_cnt,
        sum(net_in_parse_total_cnt)                       as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt)                      as net_out_parse_total_cnt,
        sum(within_parse_total_cnt)                       as within_parse_total_cnt,
        sum(without_parse_total_cnt)                      as without_parse_total_cnt,
        sum(cdn_parse_total_cnt)                          as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt)                          as idc_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveSecondParamLike"/>
        </where>
        group by
        parse_time,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        order by parse_time desc, second_level_domain_parse_total_cnt desc
        )
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <!--按照时间段查询明细表total-->
    <select id="countQueryDataGroupByTimeParam" resultType="java.lang.Long">
        select count(*)
        from (
        select
        website_app_name,
        website_type
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
            <if test="queryParam.rankNumber != null">
                and website_app_name
                in (
                select website_app_name
                from ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamLike"/>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by website_app_name, website_type
        )
    </select>

    <!--按照时间段查询子表明细表total-->
    <select id="countQuerySecondDataGroupByTimeParam" resultType="java.lang.Long">
        select count(*)
        from (
        select
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveSecondParamLike"/>
        </where>
        group by
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        )
    </select>


    <!--按照时间粒度查询明细表total-->
    <select id="countQueryDataGroupByQueryTimeParam" resultType="java.lang.Long">
        select count(*)
        from (
        select * from (
        select
        parse_time,
        website_app_name,
        website_type,
        sum(parse_total_cnt) as parse_total_cnt,
        row_number() over (partition by parse_time order by parse_total_cnt desc) as rank_number
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
        </where>
        group by
        parse_time,
        website_app_name,
        website_type
        settings allow_experimental_window_functions = 1
        )
        <where>
            <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                and rank_number &lt;= #{queryParam.rankNumber}
            </if>
        </where>
        )
    </select>

    <!--按照时间粒度查询子表明细表total-->
    <select id="countQuerySecondDataGroupByQueryTimeParam" resultType="java.lang.Long">
        select count(*)
        from (
        select * from (
        select
        parse_time,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveSecondParamLike"/>
        </where>
        group by
        parse_time,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        ))
    </select>

    <!--资源分布-->
    <select id="findTrendReportGroupByIspByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select isp,
        sum(parse_total_cnt) as second_level_domain_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParam"/>
            <if test="queryParam.rankNumber != null and queryParam.websiteAppName != null and queryParam.websiteAppName != ''">
                and website_app_name
                in (
                select website_app_name
                from ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamLike"/>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by isp
        order by second_level_domain_parse_total_cnt desc
    </select>


    <!--本网、本省、CDN、IDC   -->
    <!--时间段-->
    <select id="queryLastTimeDataGroupByWebsiteByParam"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select
        parse_time,
        sum(parse_total_cnt)                     as second_level_domain_parse_total_cnt,
        sum(parse_success_cnt)                   as parse_success_cnt,
        sum(net_in_parse_total_cnt)              as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt)             as net_out_parse_total_cnt,
        sum(within_parse_total_cnt)              as within_parse_total_cnt,
        sum(without_parse_total_cnt)             as without_parse_total_cnt,
        sum(cdn_parse_total_cnt)                 as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt)                 as idc_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParam"/>
        </where>
        group by
        parse_time
        order by
        parse_time
    </select>


    <!--导出时间段-->
    <!--子表明细表按时间段-->
    <select id="queryDataByTimeParamToDownload"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select
        website_app_name,
        website_type,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type,
        sum(parse_total_cnt)                              as second_level_domain_parse_total_cnt,
        sum(parse_success_cnt)                            as parse_success_cnt,
        sum(net_in_parse_total_cnt)                       as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt)                      as net_out_parse_total_cnt,
        sum(within_parse_total_cnt)                       as within_parse_total_cnt,
        sum(without_parse_total_cnt)                      as without_parse_total_cnt,
        sum(cdn_parse_total_cnt)                          as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt)                          as idc_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
            <if test="queryParam.rankNumber != null">
                and website_app_name
                in (
                select website_app_name
                from ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamLike"/>
                </where>
                group by website_app_name
                order by sum(parse_total_cnt) desc
                <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                    limit #{queryParam.rankNumber}
                </if>
                )
            </if>
        </where>
        group by
        website_app_name,
        website_type,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        order by second_level_domain_parse_total_cnt desc
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <!--导出，按照时间粒度-->
    <!--子表明细表按时间粒度-->
    <select id="queryDataByQueryTimeParamToDownload"
            resultType="com.yamu.data.sample.service.resources.entity.po.WebsiteSecondLevelDomainTopN">
        select *
        from (
        select
        parse_time,
        website_app_name,
        website_type,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type,
        sum(parse_total_cnt)                              as second_level_domain_parse_total_cnt,
        sum(parse_success_cnt)                            as parse_success_cnt,
        sum(net_in_parse_total_cnt)                       as net_in_parse_total_cnt,
        sum(net_out_parse_total_cnt)                      as net_out_parse_total_cnt,
        sum(within_parse_total_cnt)                       as within_parse_total_cnt,
        sum(without_parse_total_cnt)                      as without_parse_total_cnt,
        sum(cdn_parse_total_cnt)                          as cdn_parse_total_cnt,
        sum(idc_parse_total_cnt)                          as idc_parse_total_cnt
        from ${queryParam.queryTable}
        <where>
            <include refid="selectiveParamLike"/>
            <if test="queryParam.rankNumber != null">
                and website_app_name
                in (
                select distinct website_app_name from (
                select website_app_name,
                row_number() over (partition by parse_time order by sum(parse_total_cnt) desc) as rank_number
                from ${queryParam.queryTable}
                <where>
                    <include refid="selectiveParamLike"/>
                </where>
                group by parse_time,website_app_name
                settings allow_experimental_window_functions = 1
                )
                <where>
                    <if test="queryParam.rankNumber != null and queryParam.rankNumber != ''">
                        and rank_number &lt;= #{queryParam.rankNumber}
                    </if>
                </where>)
            </if>
        </where>
        group by
        parse_time,
        website_app_name,
        website_type,
        second_level_domain,
        second_level_domain_name,
        second_level_domain_type
        order by parse_time desc, second_level_domain_parse_total_cnt desc
        )
        <if test="queryParam.limit != null and queryParam.limit != ''">
            limit #{queryParam.limit}
            <if test="queryParam.offset != null and queryParam.offset != ''">
                offset #{queryParam.offset}
            </if>
        </if>
    </select>

    <sql id="selectiveParamWhere">
        <if test="queryParam.startTime != null">
            and parse_time &gt;= #{queryParam.startTime}
        </if>
        <if test="queryParam.endTime != null">
            and parse_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">
            and website_app_name = #{queryParam.websiteAppName}
        </if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">
            <choose>
                <when test="queryParam.websiteType != '其他类'">and website_type = #{queryParam.websiteType}</when>
                <when test="queryParam.websiteType = '其他类'">and website_type_key = 44</when>
            </choose>
        </if>
        <if test="queryParam.websiteTypeKey != null and queryParam.websiteTypeKey != ''">
            and website_type_key = #{queryParam.websiteTypeKey}
        </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">
            and districts_code = #{queryParam.districtsCode}
        </if>
        <if test="queryParam.country != null and queryParam.country != ''">
            and country = #{queryParam.country}
        </if>
        <if test="queryParam.province != null and queryParam.province != ''">
            and province = #{queryParam.province}
        </if>
        <if test="queryParam.city != null and queryParam.city != ''">
            and city = #{queryParam.city}
        </if>
        <if test="queryParam.district != null and queryParam.district != ''">
            and district = #{queryParam.district}
        </if>
        <if test="queryParam.isp != null and queryParam.isp != ''">
            and isp = #{queryParam.isp}
        </if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">
            and isp_code = #{queryParam.ispCode}
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParamLike">
        <if test="queryParam.startTime != null">
            and parse_time &gt;= #{queryParam.startTime}
        </if>
        <if test="queryParam.endTime != null">
            and parse_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">
            and website_app_name ilike concat('%',#{queryParam.websiteAppName},'%')
        </if>
        <if test="queryParam.secondLevelDomain != null and queryParam.secondLevelDomain != ''">
            and second_level_domain ilike concat('%',#{queryParam.secondLevelDomain},'%')
        </if>
        <if test="queryParam.secondLevelDomainName != null and queryParam.secondLevelDomainName != ''">
            and second_level_domain_name ilike concat('%',#{queryParam.secondLevelDomainName},'%')
        </if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">
            <choose>
                <when test="queryParam.websiteType != '其他类'">and website_type = #{queryParam.websiteType}</when>
                <when test="queryParam.websiteType = '其他类'">and website_type_key = 44</when>
            </choose>
        </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">
            and districts_code = #{queryParam.districtsCode}
        </if>
        <if test="queryParam.country != null and queryParam.country != ''">
            and country = #{queryParam.country}
        </if>
        <if test="queryParam.province != null and queryParam.province != ''">
            and province = #{queryParam.province}
        </if>
        <if test="queryParam.city != null and queryParam.city != ''">
            and city = #{queryParam.city}
        </if>
        <if test="queryParam.district != null and queryParam.district != ''">
            and district = #{queryParam.district}
        </if>
        <if test="queryParam.isp != null and queryParam.isp != ''">
            and isp = #{queryParam.isp}
        </if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">
            and isp_code = #{queryParam.ispCode}
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>



    <sql id="selectiveSecondParamLike">
        <if test="queryParam.startTime != null">
            and parse_time &gt;= #{queryParam.startTime}
        </if>
        <if test="queryParam.endTime != null">
            and parse_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.websiteAppName != null and queryParam.websiteAppName != ''">
            and website_app_name = #{queryParam.websiteAppName}
        </if>
        <if test="queryParam.secondLevelDomainName != null and queryParam.secondLevelDomainName != ''">
            and second_level_domain_name ilike concat('%',#{queryParam.secondLevelDomainName},'%')
        </if>
        <if test="queryParam.websiteType != null and queryParam.websiteType != ''">
            <choose>
                <when test="queryParam.websiteType != '其他类'">and website_type = #{queryParam.websiteType}</when>
                <when test="queryParam.websiteType = '其他类'">and website_type_key = 44</when>
            </choose>
        </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">
            and districts_code = #{queryParam.districtsCode}
        </if>
        <if test="queryParam.country != null and queryParam.country != ''">
            and country = #{queryParam.country}
        </if>
        <if test="queryParam.province != null and queryParam.province != ''">
            and province = #{queryParam.province}
        </if>
        <if test="queryParam.city != null and queryParam.city != ''">
            and city = #{queryParam.city}
        </if>
        <if test="queryParam.district != null and queryParam.district != ''">
            and district = #{queryParam.district}
        </if>
        <if test="queryParam.isp != null and queryParam.isp != ''">
            and isp = #{queryParam.isp}
        </if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">
            and isp_code = #{queryParam.ispCode}
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>

    <sql id="selectiveParam">
        <if test="queryParam.startTime != null">
            and parse_time &gt;= #{queryParam.startTime}
        </if>
        <if test="queryParam.endTime != null">
            and parse_time &lt;= #{queryParam.endTime}
        </if>
        <if test="queryParam.secondLevelDomain != null and queryParam.secondLevelDomain != ''">
            and second_level_domain = #{queryParam.secondLevelDomain}
        </if>
        <if test="queryParam.districtsCode != null and queryParam.districtsCode != ''">
            and districts_code = #{queryParam.districtsCode}
        </if>
        <if test="queryParam.country != null and queryParam.country != ''">
            and country = #{queryParam.country}
        </if>
        <if test="queryParam.province != null and queryParam.province != ''">
            and province = #{queryParam.province}
        </if>
        <if test="queryParam.city != null and queryParam.city != ''">
            and city = #{queryParam.city}
        </if>
        <if test="queryParam.district != null and queryParam.district != ''">
            and district = #{queryParam.district}
        </if>
        <if test="queryParam.isp != null and queryParam.isp != ''">
            and isp = #{queryParam.isp}
        </if>
        <if test="queryParam.ispCode != null and queryParam.ispCode != ''">
            and isp_code = #{queryParam.ispCode}
        </if>
        <if test="queryParam.userType != null and queryParam.userType != ''">
            and user_type = #{queryParam.userType}
        </if>
        <if test="queryParam.serverNodeName !=null and queryParam.serverNodeName !=''">and server_node_name = #{queryParam.serverNodeName}</if>
    </sql>
</mapper>